# Crosswalk from O*NET Data to Swiss Jobs

onet soc to soc crosswalk: https://www.onetcenter.org/crosswalks.html  
soc to isco08 crosswalk: https://www.bls.gov/soc/ISCO_SOC_Crosswalk.xls  
ch isco 19: https://www.i14y.admin.ch/en/catalog/datasets/HCL_CH_ISCO_19_PROF_1_2/distributions

## Content
1. [Crosswalk, O*NET, Osborne & Frey Imports](#crosswalk-import)
2. [Crosswalks](#crosswalks)
3. [safe to db](#safe-to-db)

In [1]:
# imports
import pandas as pd
from db import get_database

<a id='crosswalk-import'></a>
## Import Crosswalk files, data from Osborne & Frey and O*NET data

In [2]:
# import O*NET crosswalk file
onet_file =  "files/crosswalk_ONETSOC_SOC.xlsx"
sheet =  "ONETSOC_SOC"

onetsoc_soc = pd.read_excel(io=onet_file, sheet_name=sheet , skiprows=3, dtype=str)

# rename cols
onetsoc_soc = onetsoc_soc.rename(columns={'O*NET-SOC 2019 Code': 'onetsoc19'})
onetsoc_soc = onetsoc_soc.rename(columns={'2018 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['O*NET-SOC 2019 Title', '2018 SOC Title']

# Drop specified columns
onetsoc_soc = onetsoc_soc.drop(columns=cols_to_drop)
onetsoc_soc = onetsoc_soc.dropna()
print(onetsoc_soc.shape[0])

onetsoc_soc.head(2)

1016

    onetsoc19  2010soc
0  11-1011.00  11-1011
1  11-1011.03  11-1011

In [3]:
# import ISCO crosswalk file
file_name =  "files/crosswalk_ISCO_SOC.xls"
sheet =  "ISCO_SOC"

isco_soc = pd.read_excel(io=file_name, sheet_name=sheet , skiprows=6, dtype=str)

# rename cols
isco_soc = isco_soc.rename(columns={'ISCO-08 Code': 'isco08'})
isco_soc = isco_soc.rename(columns={'2010 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['ISCO-08 Title EN', 'part', '2010 SOC Title', "Comment 8/17/11"]

# Drop specified columns
isco_soc = isco_soc.drop(columns=cols_to_drop)
isco_soc = isco_soc.dropna()
print(isco_soc.shape[0])

isco_soc.head(2)

1125

  isco08   2010soc
0   0110  55-1011
1   0110  55-1012

In [4]:
# import CH crosswalk file
file_name =  "files/crosswalk_CH_ISCO_19.xlsx"
sheet =  "CH_ISCO_19"

ch_isco = pd.read_excel(io=file_name, sheet_name=sheet, skiprows=0, dtype=str)

# rename cols
ch_isco = ch_isco.rename(columns={'Berufsgattungen': 'isco08'})

# List of columns to drop
cols_to_drop = ["Berufshauptgruppen",'Berufsgruppen', 'Berufsuntergruppen', "Berufsarten", "Code"]

# Drop specified columns
ch_isco = ch_isco.drop(columns=cols_to_drop)
ch_isco = ch_isco.dropna()
print(ch_isco.shape[0])

ch_isco.head(2)

582

  isco08                                    Name_de
3   0110       Offiziere in regulären Streitkräften
7   0210  Unteroffiziere in regulären Streitkräften

In [5]:
# import data from O*NET from mongodb
dbname = get_database()

collection_name = dbname["onet"]

data = collection_name.find()
onet = pd.DataFrame(list(data))
onet.head(2)

,_id,code,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [6]:
# import Source Frey / Osborne
fo =  pd.read_csv("files/FO.csv")

In [7]:
# Convert 'code' column to string
onet['code'] = onet['code'].astype(str)
fo["code"] = fo["code"].astype(str)

# Rename 'code' column to 'onetsoc19'
onet = onet.rename(columns={'code': 'onetsoc19'})
fo = fo.rename(columns={'code': '2010soc'})

print(onet.shape[0])

1016

In [8]:
onet.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [9]:
fo.head(2)

,Rank,Probability,Label,2010soc,Occupation
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...

<a id='crosswalks'></a>
## Crosswalks

In [10]:
# crosswalk onet soc
joined = pd.merge(onet, onetsoc_soc, left_on='onetsoc19', right_on="onetsoc19", how='left')
joined = joined.dropna()

# print amount of cols
print(joined.shape[0])

851

In [11]:
# crosswalk soc
joined = pd.merge(joined, isco_soc, left_on='2010soc', right_on="2010soc", how='left')
fo_joined = pd.merge(fo, isco_soc, left_on='2010soc', right_on="2010soc", how='left')

# print amount of cols
print(joined.shape[0])

1065

In [12]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612

In [13]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127

In [14]:
# crosswalk isco08
joined = pd.merge(joined, ch_isco, left_on='isco08', right_on="isco08", how='left')
fo_joined = pd.merge(fo_joined, ch_isco, left_on='isco08', right_on="isco08", how='left')

# print amount of cols
print(joined.shape[0])
print(fo_joined.shape[0])

1065
803

In [15]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [16]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"

In [17]:
# drop na values
joined = joined.dropna()
joined = joined.drop(columns=["_id"])
fo_joined = fo_joined.dropna()
print(joined.shape[0])
joined.head(2)

846

,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [18]:
fo_joined.head(5)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
1,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"
2,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7231,Kraftfahrzeugmechaniker und -schlosser
3,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7232,Flugmotorenmechaniker und -schlosser
4,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7233,Landmaschinen- und Industriemaschinenmechanike...
5,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7234,Fahrradmechaniker und verwandte Berufe

In [19]:
# drop further cols
joined = joined.drop(columns=["onetsoc19","2010soc"])
fo_joined = fo_joined.drop(columns=["2010soc","Occupation","Name_de","Rank"])
fo_joined = fo_joined.rename(columns={'Label': 'fo_computerisation',"Probability":"fo_probability"})

In [20]:
fo_joined.head(2)

   fo_probability fo_computerisation isco08
1           0.003                 na   7127
2           0.003                 na   7231

In [21]:
joined.head(5)

,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,work_activities,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,isco08,Name_de
0,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,2655,Schauspieler
1,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'element': [{'id': '4.A.2.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,2612,Richter
2,long,"{'code': '17-3021.00', 'title': 'Aerospace Eng...","{'task': [{'id': 10888, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'see_all': {'href': 'https://services.onetcen...,{'tools': {'see_all': {'href': 'https://servic...,"{'element': [{'id': '2.C.3.e', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.1', 'related': 'h...","{'element': [{'id': '4.A.1.a.1', 'related': 'h...",...,"{'element': [{'id': '4.C.3.b.4', 'related': 'h...","{'value': 3, 'title': 'Job Zone Three: Medium ...",{'level_required': {'category': [{'name': 'Pos...,"{'element': [{'id': '1.B.1.a', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.e', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aiaa.org/', '...",3115,"Maschinenbautechniker, Techniker im Bereich Sy..."
3,long,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actuary.org/'...,2120,"Mathematiker, Aktuare und Statistiker"
4,long,"{'code': '11-2011.00', 'title': 'Advertising a...","{'task': [{'id': 3224, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.d', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.3.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.e', 'related': 'htt...","{'element': [{'id': '1.C.1.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.adcouncil.org...,1222,Führungskräfte in Werbung und Öffentlichkeitsa...

<a id="save-to-db"></a>
## safe to db

In [22]:
# save to mongodb
dbname = get_database()

collection_name = dbname["joined"]
fo_col = dbname["fo_joined"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(joined.to_dict("records"))
fo_col.insert_many(fo_joined.to_dict("records"))

InsertManyResult([ObjectId('6649fba78a508636be6bfd83'), ObjectId('6649fba78a508636be6bfd84'), ObjectId('6649fba78a508636be6bfd85'), ObjectId('6649fba78a508636be6bfd86'), ObjectId('6649fba78a508636be6bfd87'), ObjectId('6649fba78a508636be6bfd88'), ObjectId('6649fba78a508636be6bfd89'), ObjectId('6649fba78a508636be6bfd8a'), ObjectId('6649fba78a508636be6bfd8b'), ObjectId('6649fba78a508636be6bfd8c'), ObjectId('6649fba78a508636be6bfd8d'), ObjectId('6649fba78a508636be6bfd8e'), ObjectId('6649fba78a508636be6bfd8f'), ObjectId('6649fba78a508636be6bfd90'), ObjectId('6649fba78a508636be6bfd91'), ObjectId('6649fba78a508636be6bfd92'), ObjectId('6649fba78a508636be6bfd93'), ObjectId('6649fba78a508636be6bfd94'), ObjectId('6649fba78a508636be6bfd95'), ObjectId('6649fba78a508636be6bfd96'), ObjectId('6649fba78a508636be6bfd97'), ObjectId('6649fba78a508636be6bfd98'), ObjectId('6649fba78a508636be6bfd99'), ObjectId('6649fba78a508636be6bfd9a'), ObjectId('6649fba78a508636be6bfd9b'), ObjectId('6649fba78a508636be6bfd9c'), ObjectId('6649fba78a508636be6bfd9d'), ObjectId('6649fba78a508636be6bfd9e'), ObjectId('6649fba78a508636be6bfd9f'), ObjectId('6649fba78a508636be6bfda0'), ObjectId('6649fba78a508636be6bfda1'), ObjectId('6649fba78a508636be6bfda2'), ObjectId('6649fba78a508636be6bfda3'), ObjectId('6649fba78a508636be6bfda4'), ObjectId('6649fba78a508636be6bfda5'), ObjectId('6649fba78a508636be6bfda6'), ObjectId('6649fba78a508636be6bfda7'), ObjectId('6649fba78a508636be6bfda8'), ObjectId('6649fba78a508636be6bfda9'), ObjectId('6649fba78a508636be6bfdaa'), ObjectId('6649fba78a508636be6bfdab'), ObjectId('6649fba78a508636be6bfdac'), ObjectId('6649fba78a508636be6bfdad'), ObjectId('6649fba78a508636be6bfdae'), ObjectId('6649fba78a508636be6bfdaf'), ObjectId('6649fba78a508636be6bfdb0'), ObjectId('6649fba78a508636be6bfdb1'), ObjectId('6649fba78a508636be6bfdb2'), ObjectId('6649fba78a508636be6bfdb3'), ObjectId('6649fba78a508636be6bfdb4'), ObjectId('6649fba78a508636be6bfdb5'), ObjectId('6649fba78a508636be6bfdb6'), ObjectId('6649fba78a508636be6bfdb7'), ObjectId('6649fba78a508636be6bfdb8'), ObjectId('6649fba78a508636be6bfdb9'), ObjectId('6649fba78a508636be6bfdba'), ObjectId('6649fba78a508636be6bfdbb'), ObjectId('6649fba78a508636be6bfdbc'), ObjectId('6649fba78a508636be6bfdbd'), ObjectId('6649fba78a508636be6bfdbe'), ObjectId('6649fba78a508636be6bfdbf'), ObjectId('6649fba78a508636be6bfdc0'), ObjectId('6649fba78a508636be6bfdc1'), ObjectId('6649fba78a508636be6bfdc2'), ObjectId('6649fba78a508636be6bfdc3'), ObjectId('6649fba78a508636be6bfdc4'), ObjectId('6649fba78a508636be6bfdc5'), ObjectId('6649fba78a508636be6bfdc6'), ObjectId('6649fba78a508636be6bfdc7'), ObjectId('6649fba78a508636be6bfdc8'), ObjectId('6649fba78a508636be6bfdc9'), ObjectId('6649fba78a508636be6bfdca'), ObjectId('6649fba78a508636be6bfdcb'), ObjectId('6649fba78a508636be6bfdcc'), ObjectId('6649fba78a508636be6bfdcd'), ObjectId('6649fba78a508636be6bfdce'), ObjectId('6649fba78a508636be6bfdcf'), ObjectId('6649fba78a508636be6bfdd0'), ObjectId('6649fba78a508636be6bfdd1'), ObjectId('6649fba78a508636be6bfdd2'), ObjectId('6649fba78a508636be6bfdd3'), ObjectId('6649fba78a508636be6bfdd4'), ObjectId('6649fba78a508636be6bfdd5'), ObjectId('6649fba78a508636be6bfdd6'), ObjectId('6649fba78a508636be6bfdd7'), ObjectId('6649fba78a508636be6bfdd8'), ObjectId('6649fba78a508636be6bfdd9'), ObjectId('6649fba78a508636be6bfdda'), ObjectId('6649fba78a508636be6bfddb'), ObjectId('6649fba78a508636be6bfddc'), ObjectId('6649fba78a508636be6bfddd'), ObjectId('6649fba78a508636be6bfdde'), ObjectId('6649fba78a508636be6bfddf'), ObjectId('6649fba78a508636be6bfde0'), ObjectId('6649fba78a508636be6bfde1'), ObjectId('6649fba78a508636be6bfde2'), ObjectId('6649fba78a508636be6bfde3'), ObjectId('6649fba78a508636be6bfde4'), ObjectId('6649fba78a508636be6bfde5'), ObjectId('6649fba78a508636be6bfde6'), ObjectId('6649fba78a508636be6bfde7'), ObjectId('6649fba78a508636be6bfde8'), ObjectId('6649fba78a508636be6bfde9'), ObjectId('6649fba78a508636be6bfdea'), ObjectId('6649fba78a508636be6bfdeb'), ObjectId('6649fba78a508636be6bfdec'), ObjectId('6649fba78a508636be6bfded'), ObjectId('6649fba78a508636be6bfdee'), ObjectId('6649fba78a508636be6bfdef'), ObjectId('6649fba78a508636be6bfdf0'), ObjectId('6649fba78a508636be6bfdf1'), ObjectId('6649fba78a508636be6bfdf2'), ObjectId('6649fba78a508636be6bfdf3'), ObjectId('6649fba78a508636be6bfdf4'), ObjectId('6649fba78a508636be6bfdf5'), ObjectId('6649fba78a508636be6bfdf6'), ObjectId('6649fba78a508636be6bfdf7'), ObjectId('6649fba78a508636be6bfdf8'), ObjectId('6649fba78a508636be6bfdf9'), ObjectId('6649fba78a508636be6bfdfa'), ObjectId('6649fba78a508636be6bfdfb'), ObjectId('6649fba78a508636be6bfdfc'), ObjectId('6649fba78a508636be6bfdfd'), ObjectId('6649fba78a508636be6bfdfe'), ObjectId('6649fba78a508636be6bfdff'), ObjectId('6649fba78a508636be6bfe00'), ObjectId('6649fba78a508636be6bfe01'), ObjectId('6649fba78a508636be6bfe02'), ObjectId('6649fba78a508636be6bfe03'), ObjectId('6649fba78a508636be6bfe04'), ObjectId('6649fba78a508636be6bfe05'), ObjectId('6649fba78a508636be6bfe06'), ObjectId('6649fba78a508636be6bfe07'), ObjectId('6649fba78a508636be6bfe08'), ObjectId('6649fba78a508636be6bfe09'), ObjectId('6649fba78a508636be6bfe0a'), ObjectId('6649fba78a508636be6bfe0b'), ObjectId('6649fba78a508636be6bfe0c'), ObjectId('6649fba78a508636be6bfe0d'), ObjectId('6649fba78a508636be6bfe0e'), ObjectId('6649fba78a508636be6bfe0f'), ObjectId('6649fba78a508636be6bfe10'), ObjectId('6649fba78a508636be6bfe11'), ObjectId('6649fba78a508636be6bfe12'), ObjectId('6649fba78a508636be6bfe13'), ObjectId('6649fba78a508636be6bfe14'), ObjectId('6649fba78a508636be6bfe15'), ObjectId('6649fba78a508636be6bfe16'), ObjectId('6649fba78a508636be6bfe17'), ObjectId('6649fba78a508636be6bfe18'), ObjectId('6649fba78a508636be6bfe19'), ObjectId('6649fba78a508636be6bfe1a'), ObjectId('6649fba78a508636be6bfe1b'), ObjectId('6649fba78a508636be6bfe1c'), ObjectId('6649fba78a508636be6bfe1d'), ObjectId('6649fba78a508636be6bfe1e'), ObjectId('6649fba78a508636be6bfe1f'), ObjectId('6649fba78a508636be6bfe20'), ObjectId('6649fba78a508636be6bfe21'), ObjectId('6649fba78a508636be6bfe22'), ObjectId('6649fba78a508636be6bfe23'), ObjectId('6649fba78a508636be6bfe24'), ObjectId('6649fba78a508636be6bfe25'), ObjectId('6649fba78a508636be6bfe26'), ObjectId('6649fba78a508636be6bfe27'), ObjectId('6649fba78a508636be6bfe28'), ObjectId('6649fba78a508636be6bfe29'), ObjectId('6649fba78a508636be6bfe2a'), ObjectId('6649fba78a508636be6bfe2b'), ObjectId('6649fba78a508636be6bfe2c'), ObjectId('6649fba78a508636be6bfe2d'), ObjectId('6649fba78a508636be6bfe2e'), ObjectId('6649fba78a508636be6bfe2f'), ObjectId('6649fba78a508636be6bfe30'), ObjectId('6649fba78a508636be6bfe31'), ObjectId('6649fba78a508636be6bfe32'), ObjectId('6649fba78a508636be6bfe33'), ObjectId('6649fba78a508636be6bfe34'), ObjectId('6649fba78a508636be6bfe35'), ObjectId('6649fba78a508636be6bfe36'), ObjectId('6649fba78a508636be6bfe37'), ObjectId('6649fba78a508636be6bfe38'), ObjectId('6649fba78a508636be6bfe39'), ObjectId('6649fba78a508636be6bfe3a'), ObjectId('6649fba78a508636be6bfe3b'), ObjectId('6649fba78a508636be6bfe3c'), ObjectId('6649fba78a508636be6bfe3d'), ObjectId('6649fba78a508636be6bfe3e'), ObjectId('6649fba78a508636be6bfe3f'), ObjectId('6649fba78a508636be6bfe40'), ObjectId('6649fba78a508636be6bfe41'), ObjectId('6649fba78a508636be6bfe42'), ObjectId('6649fba78a508636be6bfe43'), ObjectId('6649fba78a508636be6bfe44'), ObjectId('6649fba78a508636be6bfe45'), ObjectId('6649fba78a508636be6bfe46'), ObjectId('6649fba78a508636be6bfe47'), ObjectId('6649fba78a508636be6bfe48'), ObjectId('6649fba78a508636be6bfe49'), ObjectId('6649fba78a508636be6bfe4a'), ObjectId('6649fba78a508636be6bfe4b'), ObjectId('6649fba78a508636be6bfe4c'), ObjectId('6649fba78a508636be6bfe4d'), ObjectId('6649fba78a508636be6bfe4e'), ObjectId('6649fba78a508636be6bfe4f'), ObjectId('6649fba78a508636be6bfe50'), ObjectId('6649fba78a508636be6bfe51'), ObjectId('6649fba78a508636be6bfe52'), ObjectId('6649fba78a508636be6bfe53'), ObjectId('6649fba78a508636be6bfe54'), ObjectId('6649fba78a508636be6bfe55'), ObjectId('6649fba78a508636be6bfe56'), ObjectId('6649fba78a508636be6bfe57'), ObjectId('6649fba78a508636be6bfe58'), ObjectId('6649fba78a508636be6bfe59'), ObjectId('6649fba78a508636be6bfe5a'), ObjectId('6649fba78a508636be6bfe5b'), ObjectId('6649fba78a508636be6bfe5c'), ObjectId('6649fba78a508636be6bfe5d'), ObjectId('6649fba78a508636be6bfe5e'), ObjectId('6649fba78a508636be6bfe5f'), ObjectId('6649fba78a508636be6bfe60'), ObjectId('6649fba78a508636be6bfe61'), ObjectId('6649fba78a508636be6bfe62'), ObjectId('6649fba78a508636be6bfe63'), ObjectId('6649fba78a508636be6bfe64'), ObjectId('6649fba78a508636be6bfe65'), ObjectId('6649fba78a508636be6bfe66'), ObjectId('6649fba78a508636be6bfe67'), ObjectId('6649fba78a508636be6bfe68'), ObjectId('6649fba78a508636be6bfe69'), ObjectId('6649fba78a508636be6bfe6a'), ObjectId('6649fba78a508636be6bfe6b'), ObjectId('6649fba78a508636be6bfe6c'), ObjectId('6649fba78a508636be6bfe6d'), ObjectId('6649fba78a508636be6bfe6e'), ObjectId('6649fba78a508636be6bfe6f'), ObjectId('6649fba78a508636be6bfe70'), ObjectId('6649fba78a508636be6bfe71'), ObjectId('6649fba78a508636be6bfe72'), ObjectId('6649fba78a508636be6bfe73'), ObjectId('6649fba78a508636be6bfe74'), ObjectId('6649fba78a508636be6bfe75'), ObjectId('6649fba78a508636be6bfe76'), ObjectId('6649fba78a508636be6bfe77'), ObjectId('6649fba78a508636be6bfe78'), ObjectId('6649fba78a508636be6bfe79'), ObjectId('6649fba78a508636be6bfe7a'), ObjectId('6649fba78a508636be6bfe7b'), ObjectId('6649fba78a508636be6bfe7c'), ObjectId('6649fba78a508636be6bfe7d'), ObjectId('6649fba78a508636be6bfe7e'), ObjectId('6649fba78a508636be6bfe7f'), ObjectId('6649fba78a508636be6bfe80'), ObjectId('6649fba78a508636be6bfe81'), ObjectId('6649fba78a508636be6bfe82'), ObjectId('6649fba78a508636be6bfe83'), ObjectId('6649fba78a508636be6bfe84'), ObjectId('6649fba78a508636be6bfe85'), ObjectId('6649fba78a508636be6bfe86'), ObjectId('6649fba78a508636be6bfe87'), ObjectId('6649fba78a508636be6bfe88'), ObjectId('6649fba78a508636be6bfe89'), ObjectId('6649fba78a508636be6bfe8a'), ObjectId('6649fba78a508636be6bfe8b'), ObjectId('6649fba78a508636be6bfe8c'), ObjectId('6649fba78a508636be6bfe8d'), ObjectId('6649fba78a508636be6bfe8e'), ObjectId('6649fba78a508636be6bfe8f'), ObjectId('6649fba78a508636be6bfe90'), ObjectId('6649fba78a508636be6bfe91'), ObjectId('6649fba78a508636be6bfe92'), ObjectId('6649fba78a508636be6bfe93'), ObjectId('6649fba78a508636be6bfe94'), ObjectId('6649fba78a508636be6bfe95'), ObjectId('6649fba78a508636be6bfe96'), ObjectId('6649fba78a508636be6bfe97'), ObjectId('6649fba78a508636be6bfe98'), ObjectId('6649fba78a508636be6bfe99'), ObjectId('6649fba78a508636be6bfe9a'), ObjectId('6649fba78a508636be6bfe9b'), ObjectId('6649fba78a508636be6bfe9c'), ObjectId('6649fba78a508636be6bfe9d'), ObjectId('6649fba78a508636be6bfe9e'), ObjectId('6649fba78a508636be6bfe9f'), ObjectId('6649fba78a508636be6bfea0'), ObjectId('6649fba78a508636be6bfea1'), ObjectId('6649fba78a508636be6bfea2'), ObjectId('6649fba78a508636be6bfea3'), ObjectId('6649fba78a508636be6bfea4'), ObjectId('6649fba78a508636be6bfea5'), ObjectId('6649fba78a508636be6bfea6'), ObjectId('6649fba78a508636be6bfea7'), ObjectId('6649fba78a508636be6bfea8'), ObjectId('6649fba78a508636be6bfea9'), ObjectId('6649fba78a508636be6bfeaa'), ObjectId('6649fba78a508636be6bfeab'), ObjectId('6649fba78a508636be6bfeac'), ObjectId('6649fba78a508636be6bfead'), ObjectId('6649fba78a508636be6bfeae'), ObjectId('6649fba78a508636be6bfeaf'), ObjectId('6649fba78a508636be6bfeb0'), ObjectId('6649fba78a508636be6bfeb1'), ObjectId('6649fba78a508636be6bfeb2'), ObjectId('6649fba78a508636be6bfeb3'), ObjectId('6649fba78a508636be6bfeb4'), ObjectId('6649fba78a508636be6bfeb5'), ObjectId('6649fba78a508636be6bfeb6'), ObjectId('6649fba78a508636be6bfeb7'), ObjectId('6649fba78a508636be6bfeb8'), ObjectId('6649fba78a508636be6bfeb9'), ObjectId('6649fba78a508636be6bfeba'), ObjectId('6649fba78a508636be6bfebb'), ObjectId('6649fba78a508636be6bfebc'), ObjectId('6649fba78a508636be6bfebd'), ObjectId('6649fba78a508636be6bfebe'), ObjectId('6649fba78a508636be6bfebf'), ObjectId('6649fba78a508636be6bfec0'), ObjectId('6649fba78a508636be6bfec1'), ObjectId('6649fba78a508636be6bfec2'), ObjectId('6649fba78a508636be6bfec3'), ObjectId('6649fba78a508636be6bfec4'), ObjectId('6649fba78a508636be6bfec5'), ObjectId('6649fba78a508636be6bfec6'), ObjectId('6649fba78a508636be6bfec7'), ObjectId('6649fba78a508636be6bfec8'), ObjectId('6649fba78a508636be6bfec9'), ObjectId('6649fba78a508636be6bfeca'), ObjectId('6649fba78a508636be6bfecb'), ObjectId('6649fba78a508636be6bfecc'), ObjectId('6649fba78a508636be6bfecd'), ObjectId('6649fba78a508636be6bfece'), ObjectId('6649fba78a508636be6bfecf'), ObjectId('6649fba78a508636be6bfed0'), ObjectId('6649fba78a508636be6bfed1'), ObjectId('6649fba78a508636be6bfed2'), ObjectId('6649fba78a508636be6bfed3'), ObjectId('6649fba78a508636be6bfed4'), ObjectId('6649fba78a508636be6bfed5'), ObjectId('6649fba78a508636be6bfed6'), ObjectId('6649fba78a508636be6bfed7'), ObjectId('6649fba78a508636be6bfed8'), ObjectId('6649fba78a508636be6bfed9'), ObjectId('6649fba78a508636be6bfeda'), ObjectId('6649fba78a508636be6bfedb'), ObjectId('6649fba78a508636be6bfedc'), ObjectId('6649fba78a508636be6bfedd'), ObjectId('6649fba78a508636be6bfede'), ObjectId('6649fba78a508636be6bfedf'), ObjectId('6649fba78a508636be6bfee0'), ObjectId('6649fba78a508636be6bfee1'), ObjectId('6649fba78a508636be6bfee2'), ObjectId('6649fba78a508636be6bfee3'), ObjectId('6649fba78a508636be6bfee4'), ObjectId('6649fba78a508636be6bfee5'), ObjectId('6649fba78a508636be6bfee6'), ObjectId('6649fba78a508636be6bfee7'), ObjectId('6649fba78a508636be6bfee8'), ObjectId('6649fba78a508636be6bfee9'), ObjectId('6649fba78a508636be6bfeea'), ObjectId('6649fba78a508636be6bfeeb'), ObjectId('6649fba78a508636be6bfeec'), ObjectId('6649fba78a508636be6bfeed'), ObjectId('6649fba78a508636be6bfeee'), ObjectId('6649fba78a508636be6bfeef'), ObjectId('6649fba78a508636be6bfef0'), ObjectId('6649fba78a508636be6bfef1'), ObjectId('6649fba78a508636be6bfef2'), ObjectId('6649fba78a508636be6bfef3'), ObjectId('6649fba78a508636be6bfef4'), ObjectId('6649fba78a508636be6bfef5'), ObjectId('6649fba78a508636be6bfef6'), ObjectId('6649fba78a508636be6bfef7'), ObjectId('6649fba78a508636be6bfef8'), ObjectId('6649fba78a508636be6bfef9'), ObjectId('6649fba78a508636be6bfefa'), ObjectId('6649fba78a508636be6bfefb'), ObjectId('6649fba78a508636be6bfefc'), ObjectId('6649fba78a508636be6bfefd'), ObjectId('6649fba78a508636be6bfefe'), ObjectId('6649fba78a508636be6bfeff'), ObjectId('6649fba78a508636be6bff00'), ObjectId('6649fba78a508636be6bff01'), ObjectId('6649fba78a508636be6bff02'), ObjectId('6649fba78a508636be6bff03'), ObjectId('6649fba78a508636be6bff04'), ObjectId('6649fba78a508636be6bff05'), ObjectId('6649fba78a508636be6bff06'), ObjectId('6649fba78a508636be6bff07'), ObjectId('6649fba78a508636be6bff08'), ObjectId('6649fba78a508636be6bff09'), ObjectId('6649fba78a508636be6bff0a'), ObjectId('6649fba78a508636be6bff0b'), ObjectId('6649fba78a508636be6bff0c'), ObjectId('6649fba78a508636be6bff0d'), ObjectId('6649fba78a508636be6bff0e'), ObjectId('6649fba78a508636be6bff0f'), ObjectId('6649fba78a508636be6bff10'), ObjectId('6649fba78a508636be6bff11'), ObjectId('6649fba78a508636be6bff12'), ObjectId('6649fba78a508636be6bff13'), ObjectId('6649fba78a508636be6bff14'), ObjectId('6649fba78a508636be6bff15'), ObjectId('6649fba78a508636be6bff16'), ObjectId('6649fba78a508636be6bff17'), ObjectId('6649fba78a508636be6bff18'), ObjectId('6649fba78a508636be6bff19'), ObjectId('6649fba78a508636be6bff1a'), ObjectId('6649fba78a508636be6bff1b'), ObjectId('6649fba78a508636be6bff1c'), ObjectId('6649fba78a508636be6bff1d'), ObjectId('6649fba78a508636be6bff1e'), ObjectId('6649fba78a508636be6bff1f'), ObjectId('6649fba78a508636be6bff20'), ObjectId('6649fba78a508636be6bff21'), ObjectId('6649fba78a508636be6bff22'), ObjectId('6649fba78a508636be6bff23'), ObjectId('6649fba78a508636be6bff24'), ObjectId('6649fba78a508636be6bff25'), ObjectId('6649fba78a508636be6bff26'), ObjectId('6649fba78a508636be6bff27'), ObjectId('6649fba78a508636be6bff28'), ObjectId('6649fba78a508636be6bff29'), ObjectId('6649fba78a508636be6bff2a'), ObjectId('6649fba78a508636be6bff2b'), ObjectId('6649fba78a508636be6bff2c'), ObjectId('6649fba78a508636be6bff2d'), ObjectId('6649fba78a508636be6bff2e'), ObjectId('6649fba78a508636be6bff2f'), ObjectId('6649fba78a508636be6bff30'), ObjectId('6649fba78a508636be6bff31'), ObjectId('6649fba78a508636be6bff32'), ObjectId('6649fba78a508636be6bff33'), ObjectId('6649fba78a508636be6bff34'), ObjectId('6649fba78a508636be6bff35'), ObjectId('6649fba78a508636be6bff36'), ObjectId('6649fba78a508636be6bff37'), ObjectId('6649fba78a508636be6bff38'), ObjectId('6649fba78a508636be6bff39'), ObjectId('6649fba78a508636be6bff3a'), ObjectId('6649fba78a508636be6bff3b'), ObjectId('6649fba78a508636be6bff3c'), ObjectId('6649fba78a508636be6bff3d'), ObjectId('6649fba78a508636be6bff3e'), ObjectId('6649fba78a508636be6bff3f'), ObjectId('6649fba78a508636be6bff40'), ObjectId('6649fba78a508636be6bff41'), ObjectId('6649fba78a508636be6bff42'), ObjectId('6649fba78a508636be6bff43'), ObjectId('6649fba78a508636be6bff44'), ObjectId('6649fba78a508636be6bff45'), ObjectId('6649fba78a508636be6bff46'), ObjectId('6649fba78a508636be6bff47'), ObjectId('6649fba78a508636be6bff48'), ObjectId('6649fba78a508636be6bff49'), ObjectId('6649fba78a508636be6bff4a'), ObjectId('6649fba78a508636be6bff4b'), ObjectId('6649fba78a508636be6bff4c'), ObjectId('6649fba78a508636be6bff4d'), ObjectId('6649fba78a508636be6bff4e'), ObjectId('6649fba78a508636be6bff4f'), ObjectId('6649fba78a508636be6bff50'), ObjectId('6649fba78a508636be6bff51'), ObjectId('6649fba78a508636be6bff52'), ObjectId('6649fba78a508636be6bff53'), ObjectId('6649fba78a508636be6bff54'), ObjectId('6649fba78a508636be6bff55'), ObjectId('6649fba78a508636be6bff56'), ObjectId('6649fba78a508636be6bff57'), ObjectId('6649fba78a508636be6bff58'), ObjectId('6649fba78a508636be6bff59'), ObjectId('6649fba78a508636be6bff5a'), ObjectId('6649fba78a508636be6bff5b'), ObjectId('6649fba78a508636be6bff5c'), ObjectId('6649fba78a508636be6bff5d'), ObjectId('6649fba78a508636be6bff5e'), ObjectId('6649fba78a508636be6bff5f'), ObjectId('6649fba78a508636be6bff60'), ObjectId('6649fba78a508636be6bff61'), ObjectId('6649fba78a508636be6bff62'), ObjectId('6649fba78a508636be6bff63'), ObjectId('6649fba78a508636be6bff64'), ObjectId('6649fba78a508636be6bff65'), ObjectId('6649fba78a508636be6bff66'), ObjectId('6649fba78a508636be6bff67'), ObjectId('6649fba78a508636be6bff68'), ObjectId('6649fba78a508636be6bff69'), ObjectId('6649fba78a508636be6bff6a'), ObjectId('6649fba78a508636be6bff6b'), ObjectId('6649fba78a508636be6bff6c'), ObjectId('6649fba78a508636be6bff6d'), ObjectId('6649fba78a508636be6bff6e'), ObjectId('6649fba78a508636be6bff6f'), ObjectId('6649fba78a508636be6bff70'), ObjectId('6649fba78a508636be6bff71'), ObjectId('6649fba78a508636be6bff72'), ObjectId('6649fba78a508636be6bff73'), ObjectId('6649fba78a508636be6bff74'), ObjectId('6649fba78a508636be6bff75'), ObjectId('6649fba78a508636be6bff76'), ObjectId('6649fba78a508636be6bff77'), ObjectId('6649fba78a508636be6bff78'), ObjectId('6649fba78a508636be6bff79'), ObjectId('6649fba78a508636be6bff7a'), ObjectId('6649fba78a508636be6bff7b'), ObjectId('6649fba78a508636be6bff7c'), ObjectId('6649fba78a508636be6bff7d'), ObjectId('6649fba78a508636be6bff7e'), ObjectId('6649fba78a508636be6bff7f'), ObjectId('6649fba78a508636be6bff80'), ObjectId('6649fba78a508636be6bff81'), ObjectId('6649fba78a508636be6bff82'), ObjectId('6649fba78a508636be6bff83'), ObjectId('6649fba78a508636be6bff84'), ObjectId('6649fba78a508636be6bff85'), ObjectId('6649fba78a508636be6bff86'), ObjectId('6649fba78a508636be6bff87'), ObjectId('6649fba78a508636be6bff88'), ObjectId('6649fba78a508636be6bff89'), ObjectId('6649fba78a508636be6bff8a'), ObjectId('6649fba78a508636be6bff8b'), ObjectId('6649fba78a508636be6bff8c'), ObjectId('6649fba78a508636be6bff8d'), ObjectId('6649fba78a508636be6bff8e'), ObjectId('6649fba78a508636be6bff8f'), ObjectId('6649fba78a508636be6bff