### jupyter notebook to clean up data from onet

author: Jan JÃ¶rg
date: 14.03.2024

In [193]:
import json
from db import get_database
import pandas as pd
import numpy as np

In [194]:
# import authentication data

with open('./infos.json') as f:
    infos = json.load(f)
    onet = infos['onet']
    onetUsername = onet['username']
    onetPassword = onet['password']
    mongodb = infos['mongodb']
    mongoUusername = mongodb['username']
    mongoPpassword = mongodb['password']
    mongoUrl = mongodb['connectionString']

In [195]:
dbname = get_database()

collection = dbname["joined"]
job_zone_col = dbname["job_zone"]
abilities_col = dbname["abilities"]
work_context_col = dbname["work_context"]
knowledge_col = dbname["knowledge"]
skills_col = dbname["skills"]
tasks_col = dbname["tasks"]
work_styles_col = dbname["work_styles"]
detailed_work_activities_col = dbname["detailed_work_activities"]
education_col = dbname["education"]
work_activities_col = dbname["work_activities"]
work_values_col = dbname["work_values"]

documents = collection.find()
job_zone = job_zone_col.find()
abilities = abilities_col.find()
work_context = work_context_col.find()
knowledge = knowledge_col.find()
skills = skills_col.find()
tasks = tasks_col.find()
work_styles = work_styles_col.find()
detailed_work_activities = detailed_work_activities_col.find()
education = education_col.find()
work_activities = work_activities_col.find()
work_values = work_values_col.find()

df = pd.DataFrame(list(documents))
job_zone_df = pd.DataFrame(list(job_zone))
abilities_df = pd.DataFrame(list(abilities))
work_context_df = pd.DataFrame(list(work_context))
knowledge_df = pd.DataFrame(list(knowledge))
skills_df = pd.DataFrame(list(skills))
tasks_df = pd.DataFrame(list(tasks))
work_styles_df = pd.DataFrame(list(work_styles))
detailed_work_activities_df = pd.DataFrame(list(detailed_work_activities))
education_df = pd.DataFrame(list(education))
work_activities_df = pd.DataFrame(list(work_activities))
work_values_df = pd.DataFrame(list(work_values))

In [196]:
# Remove empty cols
print("Total documents: ", len(df))

# Drop columns where some values are null
df = df.dropna(how='all', axis=1)

# Drop rows where all some are null
df = df.dropna(how='all', axis=0)

# Replace any remaining NaN values with 0
df = df.fillna(0)

print("Total documents after dropping na: ", len(df))

Total documents:  846
Total documents after dropping na:  846

In [197]:
# Remove columns that are not useful
df = df.drop(['additional_information',"related_occupations","display","onetsoc19","2010soc","technology_skills","tools_technology","tools_used"], axis=1)
df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...","{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...","{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker"

In [198]:
occupation = pd.DataFrame(list(df["occupation"])) 

# List of columns to drop
cols_to_drop = ["code","updated","sample_of_reported_job_titles","summary_resources","details_resources","custom_resources", "tags"]

# Drop the columns
occupation = occupation.drop(cols_to_drop, axis=1)

occupation = occupation.iloc[:, 0]
df["occupation"] = occupation

df["occupation"].head(3)

0               Actors
1            Actuaries
2    Acute Care Nurses
Name: occupation, dtype: object

In [199]:
new_tasks = list()

for index, row in df["tasks"].items():
    row = pd.DataFrame(row['task'])

    cols_to_drop = ["green","related","name"]
    row = row.drop(cols_to_drop, axis=1)

    # Merge the tasks dataframe with the tasks_df dataframe to get the new task id
    row = row.merge(tasks_df, left_on='id', right_on='id', how='left')

    cols_to_drop = ["_id","name","id"]
    row = row.drop(cols_to_drop, axis=1)

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()

    new_tasks.append(row)

df["tasks"] = new_tasks

df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,Actors,"[1, 2, 3, 4, 5]","{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,Actuaries,"[6, 7, 8, 9, 10]","{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker"

In [200]:
new_skills = list()

for index, row in df["skills"].items():
    row = pd.DataFrame(row['element'])

    cols_to_drop = ["name", "description", "related"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Check if 'id' exists in both DataFrames
    if 'id' in row.columns and 'id' in skills_df.columns:
        # Merge the skills dataframe with the skills_df dataframe to get the new skill id
        row = row.merge(skills_df, left_on='id', right_on='id', how='left')

    cols_to_drop = ["id", "_id", "related", "name", "description"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()

    new_skills.append(row)

df["skills"] = new_skills

df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,Actors,"[1, 2, 3, 4, 5]","{'element': [{'id': '2.C.7.c', 'related': 'htt...","[1, 2, 3, 4, 5]","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,Actuaries,"[6, 7, 8, 9, 10]","{'element': [{'id': '2.C.4.a', 'related': 'htt...","[5, 6, 7, 1, 3]","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker"

In [201]:
new_abilities = list()

for index, row in df["abilities"].items():
    row = pd.DataFrame(row['element'])

    cols_to_drop = ["name", "description", "related"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Check if 'id' exists in both DataFrames
    if 'id' in row.columns and 'id' in abilities_df.columns:
        # Merge the abilities dataframe with the abilities_df dataframe to get the new ability id
        row = row.merge(abilities_df, left_on='id', right_on='id', how='left')

    cols_to_drop = ["id", "_id", "related", "name", "description"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()

    new_abilities.append(row)

df["abilities"] = new_abilities

df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,Actors,"[1, 2, 3, 4, 5]","{'element': [{'id': '2.C.7.c', 'related': 'htt...","[1, 2, 3, 4, 5]","[1, 2, 3, 4, 5]","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,Actuaries,"[6, 7, 8, 9, 10]","{'element': [{'id': '2.C.4.a', 'related': 'htt...","[5, 6, 7, 1, 3]","[6, 7, 8, 9, 10]","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker"

In [202]:
new_education = list()

for index, row in df["education"].items():
    row = pd.DataFrame(row['level_required']['category'])

    # Check if 'score' exists
    if 'score' in row.columns:
        # Extract 'value' from 'score' and convert it to a DataFrame column
        max_value = row['score'].apply(lambda d: d['value'])

        # Find the index of the row with the highest score
        max_score_index = max_value.idxmax()

        # Select only the row with the highest score
        row = row.loc[[max_score_index]]

    cols_to_drop = ["description", "score"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

   
    # Merge the education dataframe with the education_df dataframe to get the new education level
    row = row.merge(education_df, left_on='name', right_on='name', how='left')

    cols_to_drop = ["id", "_id", "name"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]

    new_education.append(row)


df["education"] = new_education

df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,Actors,"[1, 2, 3, 4, 5]","{'element': [{'id': '2.C.7.c', 'related': 'htt...","[1, 2, 3, 4, 5]","[1, 2, 3, 4, 5]","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",[1],2655,Schauspieler
1,661d1a30d05f1cef398e0e98,Actuaries,"[6, 7, 8, 9, 10]","{'element': [{'id': '2.C.4.a', 'related': 'htt...","[5, 6, 7, 1, 3]","[6, 7, 8, 9, 10]","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",[2],2120,"Mathematiker, Aktuare und Statistiker"

In [203]:
new_job_zones = list()

for index, row in df["job_zone"].items():
    value = row["value"]
    
    row = job_zone_df[job_zone_df["value"] == value]
  
    cols_to_drop = ["id", "_id", "related_experience", "education", "title", "job_training","job_zone_examples","value"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]
    
    new_job_zones.append(row)

df["job_zone"] = new_job_zones

df.head(2)

,_id,occupation,tasks,knowledge,skills,abilities,work_activities,detailed_work_activities,work_context,job_zone,interests,work_styles,work_values,education,isco08,Name_de
0,661d1a30d05f1cef398e0e97,Actors,"[1, 2, 3, 4, 5]","{'element': [{'id': '2.C.7.c', 'related': 'htt...","[1, 2, 3, 4, 5]","[1, 2, 3, 4, 5]","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...",[1],"{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",[1],2655,Schauspieler
1,661d1a30d05f1cef398e0e98,Actuaries,"[6, 7, 8, 9, 10]","{'element': [{'id': '2.C.4.a', 'related': 'htt...","[5, 6, 7, 1, 3]","[6, 7, 8, 9, 10]","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.b.4.I09.D06', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...",[2],"{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",[2],2120,"Mathematiker, Aktuare und Statistiker"

In [204]:
def convert_np_array_to_list(obj):
    if isinstance(obj, np.ndarray):
        return obj.tolist()
    return obj

In [205]:
dbname = get_database()

insert_df = df.applymap(convert_np_array_to_list)

collection_name = dbname["with_id"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(insert_df.to_dict("records"))

/var/folders/ms/0wqr6tr506lfp142wmz0qph40000gn/T/ipykernel_5656/2081302805.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  insert_df = df.applymap(convert_np_array_to_list)

InsertManyResult([ObjectId('661d1a30d05f1cef398e0e97'), ObjectId('661d1a30d05f1cef398e0e98'), ObjectId('661d1a30d05f1cef398e0e99'), ObjectId('661d1a30d05f1cef398e0e9a'), ObjectId('661d1a30d05f1cef398e0e9b'), ObjectId('661d1a30d05f1cef398e0e9c'), ObjectId('661d1a30d05f1cef398e0e9d'), ObjectId('661d1a30d05f1cef398e0e9e'), ObjectId('661d1a30d05f1cef398e0e9f'), ObjectId('661d1a30d05f1cef398e0ea0'), ObjectId('661d1a30d05f1cef398e0ea1'), ObjectId('661d1a30d05f1cef398e0ea2'), ObjectId('661d1a30d05f1cef398e0ea3'), ObjectId('661d1a30d05f1cef398e0ea4'), ObjectId('661d1a30d05f1cef398e0ea5'), ObjectId('661d1a30d05f1cef398e0ea6'), ObjectId('661d1a30d05f1cef398e0ea7'), ObjectId('661d1a30d05f1cef398e0ea8'), ObjectId('661d1a30d05f1cef398e0ea9'), ObjectId('661d1a30d05f1cef398e0eaa'), ObjectId('661d1a30d05f1cef398e0eab'), ObjectId('661d1a30d05f1cef398e0eac'), ObjectId('661d1a30d05f1cef398e0ead'), ObjectId('661d1a30d05f1cef398e0eae'), ObjectId('661d1a30d05f1cef398e0eaf'), ObjectId('661d1a30d05f1cef398e0eb0'), ObjectId('661d1a30d05f1cef398e0eb1'), ObjectId('661d1a30d05f1cef398e0eb2'), ObjectId('661d1a30d05f1cef398e0eb3'), ObjectId('661d1a30d05f1cef398e0eb4'), ObjectId('661d1a30d05f1cef398e0eb5'), ObjectId('661d1a30d05f1cef398e0eb6'), ObjectId('661d1a30d05f1cef398e0eb7'), ObjectId('661d1a30d05f1cef398e0eb8'), ObjectId('661d1a30d05f1cef398e0eb9'), ObjectId('661d1a30d05f1cef398e0eba'), ObjectId('661d1a30d05f1cef398e0ebb'), ObjectId('661d1a30d05f1cef398e0ebc'), ObjectId('661d1a30d05f1cef398e0ebd'), ObjectId('661d1a30d05f1cef398e0ebe'), ObjectId('661d1a30d05f1cef398e0ebf'), ObjectId('661d1a30d05f1cef398e0ec0'), ObjectId('661d1a30d05f1cef398e0ec1'), ObjectId('661d1a30d05f1cef398e0ec2'), ObjectId('661d1a30d05f1cef398e0ec3'), ObjectId('661d1a30d05f1cef398e0ec4'), ObjectId('661d1a30d05f1cef398e0ec5'), ObjectId('661d1a30d05f1cef398e0ec6'), ObjectId('661d1a30d05f1cef398e0ec7'), ObjectId('661d1a30d05f1cef398e0ec8'), ObjectId('661d1a30d05f1cef398e0ec9'), ObjectId('661d1a30d05f1cef398e0eca'), ObjectId('661d1a30d05f1cef398e0ecb'), ObjectId('661d1a30d05f1cef398e0ecc'), ObjectId('661d1a30d05f1cef398e0ecd'), ObjectId('661d1a30d05f1cef398e0ece'), ObjectId('661d1a30d05f1cef398e0ecf'), ObjectId('661d1a30d05f1cef398e0ed0'), ObjectId('661d1a30d05f1cef398e0ed1'), ObjectId('661d1a30d05f1cef398e0ed2'), ObjectId('661d1a30d05f1cef398e0ed3'), ObjectId('661d1a30d05f1cef398e0ed4'), ObjectId('661d1a30d05f1cef398e0ed5'), ObjectId('661d1a30d05f1cef398e0ed6'), ObjectId('661d1a30d05f1cef398e0ed7'), ObjectId('661d1a30d05f1cef398e0ed8'), ObjectId('661d1a30d05f1cef398e0ed9'), ObjectId('661d1a30d05f1cef398e0eda'), ObjectId('661d1a30d05f1cef398e0edb'), ObjectId('661d1a30d05f1cef398e0edc'), ObjectId('661d1a30d05f1cef398e0edd'), ObjectId('661d1a30d05f1cef398e0ede'), ObjectId('661d1a30d05f1cef398e0edf'), ObjectId('661d1a30d05f1cef398e0ee0'), ObjectId('661d1a30d05f1cef398e0ee1'), ObjectId('661d1a30d05f1cef398e0ee2'), ObjectId('661d1a30d05f1cef398e0ee3'), ObjectId('661d1a30d05f1cef398e0ee4'), ObjectId('661d1a30d05f1cef398e0ee5'), ObjectId('661d1a30d05f1cef398e0ee6'), ObjectId('661d1a30d05f1cef398e0ee7'), ObjectId('661d1a30d05f1cef398e0ee8'), ObjectId('661d1a30d05f1cef398e0ee9'), ObjectId('661d1a30d05f1cef398e0eea'), ObjectId('661d1a30d05f1cef398e0eeb'), ObjectId('661d1a30d05f1cef398e0eec'), ObjectId('661d1a30d05f1cef398e0eed'), ObjectId('661d1a30d05f1cef398e0eee'), ObjectId('661d1a30d05f1cef398e0eef'), ObjectId('661d1a30d05f1cef398e0ef0'), ObjectId('661d1a30d05f1cef398e0ef1'), ObjectId('661d1a30d05f1cef398e0ef2'), ObjectId('661d1a30d05f1cef398e0ef3'), ObjectId('661d1a30d05f1cef398e0ef4'), ObjectId('661d1a30d05f1cef398e0ef5'), ObjectId('661d1a30d05f1cef398e0ef6'), ObjectId('661d1a30d05f1cef398e0ef7'), ObjectId('661d1a30d05f1cef398e0ef8'), ObjectId('661d1a30d05f1cef398e0ef9'), ObjectId('661d1a30d05f1cef398e0efa'), ObjectId('661d1a30d05f1cef398e0efb'), ObjectId('661d1a30d05f1cef398e0efc'), ObjectId('661d1a30d05f1cef398e0efd'), ObjectId('661d1a30d05f1cef398e0efe'), ObjectId('661d1a30d05f1cef398e0eff'), ObjectId('661d1a30d05f1cef398e0f00'), ObjectId('661d1a30d05f1cef398e0f01'), ObjectId('661d1a30d05f1cef398e0f02'), ObjectId('661d1a30d05f1cef398e0f03'), ObjectId('661d1a30d05f1cef398e0f04'), ObjectId('661d1a30d05f1cef398e0f05'), ObjectId('661d1a30d05f1cef398e0f06'), ObjectId('661d1a30d05f1cef398e0f07'), ObjectId('661d1a30d05f1cef398e0f08'), ObjectId('661d1a30d05f1cef398e0f09'), ObjectId('661d1a30d05f1cef398e0f0a'), ObjectId('661d1a30d05f1cef398e0f0b'), ObjectId('661d1a30d05f1cef398e0f0c'), ObjectId('661d1a30d05f1cef398e0f0d'), ObjectId('661d1a30d05f1cef398e0f0e'), ObjectId('661d1a30d05f1cef398e0f0f'), ObjectId('661d1a30d05f1cef398e0f10'), ObjectId('661d1a30d05f1cef398e0f11'), ObjectId('661d1a30d05f1cef398e0f12'), ObjectId('661d1a30d05f1cef398e0f13'), ObjectId('661d1a30d05f1cef398e0f14'), ObjectId('661d1a30d05f1cef398e0f15'), ObjectId('661d1a30d05f1cef398e0f16'), ObjectId('661d1a30d05f1cef398e0f17'), ObjectId('661d1a30d05f1cef398e0f18'), ObjectId('661d1a30d05f1cef398e0f19'), ObjectId('661d1a30d05f1cef398e0f1a'), ObjectId('661d1a30d05f1cef398e0f1b'), ObjectId('661d1a30d05f1cef398e0f1c'), ObjectId('661d1a30d05f1cef398e0f1d'), ObjectId('661d1a30d05f1cef398e0f1e'), ObjectId('661d1a30d05f1cef398e0f1f'), ObjectId('661d1a30d05f1cef398e0f20'), ObjectId('661d1a30d05f1cef398e0f21'), ObjectId('661d1a30d05f1cef398e0f22'), ObjectId('661d1a30d05f1cef398e0f23'), ObjectId('661d1a30d05f1cef398e0f24'), ObjectId('661d1a30d05f1cef398e0f25'), ObjectId('661d1a30d05f1cef398e0f26'), ObjectId('661d1a30d05f1cef398e0f27'), ObjectId('661d1a30d05f1cef398e0f28'), ObjectId('661d1a30d05f1cef398e0f29'), ObjectId('661d1a30d05f1cef398e0f2a'), ObjectId('661d1a30d05f1cef398e0f2b'), ObjectId('661d1a30d05f1cef398e0f2c'), ObjectId('661d1a30d05f1cef398e0f2d'), ObjectId('661d1a30d05f1cef398e0f2e'), ObjectId('661d1a30d05f1cef398e0f2f'), ObjectId('661d1a30d05f1cef398e0f30'), ObjectId('661d1a30d05f1cef398e0f31'), ObjectId('661d1a30d05f1cef398e0f32'), ObjectId('661d1a30d05f1cef398e0f33'), ObjectId('661d1a30d05f1cef398e0f34'), ObjectId('661d1a30d05f1cef398e0f35'), ObjectId('661d1a30d05f1cef398e0f36'), ObjectId('661d1a30d05f1cef398e0f37'), ObjectId('661d1a30d05f1cef398e0f38'), ObjectId('661d1a30d05f1cef398e0f39'), ObjectId('661d1a30d05f1cef398e0f3a'), ObjectId('661d1a30d05f1cef398e0f3b'), ObjectId('661d1a30d05f1cef398e0f3c'), ObjectId('661d1a30d05f1cef398e0f3d'), ObjectId('661d1a30d05f1cef398e0f3e'), ObjectId('661d1a30d05f1cef398e0f3f'), ObjectId('661d1a30d05f1cef398e0f40'), ObjectId('661d1a30d05f1cef398e0f41'), ObjectId('661d1a30d05f1cef398e0f42'), ObjectId('661d1a30d05f1cef398e0f43'), ObjectId('661d1a30d05f1cef398e0f44'), ObjectId('661d1a30d05f1cef398e0f45'), ObjectId('661d1a30d05f1cef398e0f46'), ObjectId('661d1a30d05f1cef398e0f47'), ObjectId('661d1a30d05f1cef398e0f48'), ObjectId('661d1a30d05f1cef398e0f49'), ObjectId('661d1a30d05f1cef398e0f4a'), ObjectId('661d1a30d05f1cef398e0f4b'), ObjectId('661d1a30d05f1cef398e0f4c'), ObjectId('661d1a30d05f1cef398e0f4d'), ObjectId('661d1a30d05f1cef398e0f4e'), ObjectId('661d1a30d05f1cef398e0f4f'), ObjectId('661d1a30d05f1cef398e0f50'), ObjectId('661d1a30d05f1cef398e0f51'), ObjectId('661d1a30d05f1cef398e0f52'), ObjectId('661d1a30d05f1cef398e0f53'), ObjectId('661d1a30d05f1cef398e0f54'), ObjectId('661d1a30d05f1cef398e0f55'), ObjectId('661d1a30d05f1cef398e0f56'), ObjectId('661d1a30d05f1cef398e0f57'), ObjectId('661d1a30d05f1cef398e0f58'), ObjectId('661d1a30d05f1cef398e0f59'), ObjectId('661d1a30d05f1cef398e0f5a'), ObjectId('661d1a30d05f1cef398e0f5b'), ObjectId('661d1a30d05f1cef398e0f5c'), ObjectId('661d1a30d05f1cef398e0f5d'), ObjectId('661d1a30d05f1cef398e0f5e'), ObjectId('661d1a30d05f1cef398e0f5f'), ObjectId('661d1a30d05f1cef398e0f60'), ObjectId('661d1a30d05f1cef398e0f61'), ObjectId('661d1a30d05f1cef398e0f62'), ObjectId('661d1a30d05f1cef398e0f63'), ObjectId('661d1a30d05f1cef398e0f64'), ObjectId('661d1a30d05f1cef398e0f65'), ObjectId('661d1a30d05f1cef398e0f66'), ObjectId('661d1a30d05f1cef398e0f67'), ObjectId('661d1a30d05f1cef398e0f68'), ObjectId('661d1a30d05f1cef398e0f69'), ObjectId('661d1a30d05f1cef398e0f6a'), ObjectId('661d1a30d05f1cef398e0f6b'), ObjectId('661d1a30d05f1cef398e0f6c'), ObjectId('661d1a30d05f1cef398e0f6d'), ObjectId('661d1a30d05f1cef398e0f6e'), ObjectId('661d1a30d05f1cef398e0f6f'), ObjectId('661d1a30d05f1cef398e0f70'), ObjectId('661d1a30d05f1cef398e0f71'), ObjectId('661d1a30d05f1cef398e0f72'), ObjectId('661d1a30d05f1cef398e0f73'), ObjectId('661d1a30d05f1cef398e0f74'), ObjectId('661d1a30d05f1cef398e0f75'), ObjectId('661d1a30d05f1cef398e0f76'), ObjectId('661d1a30d05f1cef398e0f77'), ObjectId('661d1a30d05f1cef398e0f78'), ObjectId('661d1a30d05f1cef398e0f79'), ObjectId('661d1a30d05f1cef398e0f7a'), ObjectId('661d1a30d05f1cef398e0f7b'), ObjectId('661d1a30d05f1cef398e0f7c'), ObjectId('661d1a30d05f1cef398e0f7d'), ObjectId('661d1a30d05f1cef398e0f7e'), ObjectId('661d1a30d05f1cef398e0f7f'), ObjectId('661d1a30d05f1cef398e0f80'), ObjectId('661d1a30d05f1cef398e0f81'), ObjectId('661d1a30d05f1cef398e0f82'), ObjectId('661d1a30d05f1cef398e0f83'), ObjectId('661d1a30d05f1cef398e0f84'), ObjectId('661d1a30d05f1cef398e0f85'), ObjectId('661d1a30d05f1cef398e0f86'), ObjectId('661d1a30d05f1cef398e0f87'), ObjectId('661d1a30d05f1cef398e0f88'), ObjectId('661d1a30d05f1cef398e0f89'), ObjectId('661d1a30d05f1cef398e0f8a'), ObjectId('661d1a30d05f1cef398e0f8b'), ObjectId('661d1a30d05f1cef398e0f8c'), ObjectId('661d1a30d05f1cef398e0f8d'), ObjectId('661d1a30d05f1cef398e0f8e'), ObjectId('661d1a30d05f1cef398e0f8f'), ObjectId('661d1a30d05f1cef398e0f90'), ObjectId('661d1a30d05f1cef398e0f91'), ObjectId('661d1a30d05f1cef398e0f92'), ObjectId('661d1a30d05f1cef398e0f93'), ObjectId('661d1a30d05f1cef398e0f94'), ObjectId('661d1a30d05f1cef398e0f95'), ObjectId('661d1a30d05f1cef398e0f96'), ObjectId('661d1a30d05f1cef398e0f97'), ObjectId('661d1a30d05f1cef398e0f98'), ObjectId('661d1a30d05f1cef398e0f99'), ObjectId('661d1a30d05f1cef398e0f9a'), ObjectId('661d1a30d05f1cef398e0f9b'), ObjectId('661d1a30d05f1cef398e0f9c'), ObjectId('661d1a30d05f1cef398e0f9d'), ObjectId('661d1a30d05f1cef398e0f9e'), ObjectId('661d1a30d05f1cef398e0f9f'), ObjectId('661d1a30d05f1cef398e0fa0'), ObjectId('661d1a30d05f1cef398e0fa1'), ObjectId('661d1a30d05f1cef398e0fa2'), ObjectId('661d1a30d05f1cef398e0fa3'), ObjectId('661d1a30d05f1cef398e0fa4'), ObjectId('661d1a30d05f1cef398e0fa5'), ObjectId('661d1a30d05f1cef398e0fa6'), ObjectId('661d1a30d05f1cef398e0fa7'), ObjectId('661d1a30d05f1cef398e0fa8'), ObjectId('661d1a30d05f1cef398e0fa9'), ObjectId('661d1a30d05f1cef398e0faa'), ObjectId('661d1a30d05f1cef398e0fab'), ObjectId('661d1a30d05f1cef398e0fac'), ObjectId('661d1a30d05f1cef398e0fad'), ObjectId('661d1a30d05f1cef398e0fae'), ObjectId('661d1a30d05f1cef398e0faf'), ObjectId('661d1a30d05f1cef398e0fb0'), ObjectId('661d1a30d05f1cef398e0fb1'), ObjectId('661d1a30d05f1cef398e0fb2'), ObjectId('661d1a30d05f1cef398e0fb3'), ObjectId('661d1a30d05f1cef398e0fb4'), ObjectId('661d1a30d05f1cef398e0fb5'), ObjectId('661d1a30d05f1cef398e0fb6'), ObjectId('661d1a30d05f1cef398e0fb7'), ObjectId('661d1a30d05f1cef398e0fb8'), ObjectId('661d1a30d05f1cef398e0fb9'), ObjectId('661d1a30d05f1cef398e0fba'), ObjectId('661d1a30d05f1cef398e0fbb'), ObjectId('661d1a30d05f1cef398e0fbc'), ObjectId('661d1a30d05f1cef398e0fbd'), ObjectId('661d1a30d05f1cef398e0fbe'), ObjectId('661d1a30d05f1cef398e0fbf'), ObjectId('661d1a30d05f1cef398e0fc0'), ObjectId('661d1a30d05f1cef398e0fc1'), ObjectId('661d1a30d05f1cef398e0fc2'), ObjectId('661d1a30d05f1cef398e0fc3'), ObjectId('661d1a30d05f1cef398e0fc4'), ObjectId('661d1a30d05f1cef398e0fc5'), ObjectId('661d1a30d05f1cef398e0fc6'), ObjectId('661d1a30d05f1cef398e0fc7'), ObjectId('661d1a30d05f1cef398e0fc8'), ObjectId('661d1a30d05f1cef398e0fc9'), ObjectId('661d1a30d05f1cef398e0fca'), ObjectId('661d1a30d05f1cef398e0fcb'), ObjectId('661d1a30d05f1cef398e0fcc'), ObjectId('661d1a30d05f1cef398e0fcd'), ObjectId('661d1a30d05f1cef398e0fce'), ObjectId('661d1a30d05f1cef398e0fcf'), ObjectId('661d1a30d05f1cef398e0fd0'), ObjectId('661d1a30d05f1cef398e0fd1'), ObjectId('661d1a30d05f1cef398e0fd2'), ObjectId('661d1a30d05f1cef398e0fd3'), ObjectId('661d1a30d05f1cef398e0fd4'), ObjectId('661d1a30d05f1cef398e0fd5'), ObjectId('661d1a30d05f1cef398e0fd6'), ObjectId('661d1a30d05f1cef398e0fd7'), ObjectId('661d1a30d05f1cef398e0fd8'), ObjectId('661d1a30d05f1cef398e0fd9'), ObjectId('661d1a30d05f1cef398e0fda'), ObjectId('661d1a30d05f1cef398e0fdb'), ObjectId('661d1a30d05f1cef398e0fdc'), ObjectId('661d1a30d05f1cef398e0fdd'), ObjectId('661d1a30d05f1cef398e0fde'), ObjectId('661d1a30d05f1cef398e0fdf'), ObjectId('661d1a30d05f1cef398e0fe0'), ObjectId('661d1a30d05f1cef398e0fe1'), ObjectId('661d1a30d05f1cef398e0fe2'), ObjectId('661d1a30d05f1cef398e0fe3'), ObjectId('661d1a30d05f1cef398e0fe4'), ObjectId('661d1a30d05f1cef398e0fe5'), ObjectId('661d1a30d05f1cef398e0fe6'), ObjectId('661d1a30d05f1cef398e0fe7'), ObjectId('661d1a30d05f1cef398e0fe8'), ObjectId('661d1a30d05f1cef398e0fe9'), ObjectId('661d1a30d05f1cef398e0fea'), ObjectId('661d1a30d05f1cef398e0feb'), ObjectId('661d1a30d05f1cef398e0fec'), ObjectId('661d1a30d05f1cef398e0fed'), ObjectId('661d1a30d05f1cef398e0fee'), ObjectId('661d1a30d05f1cef398e0fef'), ObjectId('661d1a30d05f1cef398e0ff0'), ObjectId('661d1a30d05f1cef398e0ff1'), ObjectId('661d1a30d05f1cef398e0ff2'), ObjectId('661d1a30d05f1cef398e0ff3'), ObjectId('661d1a30d05f1cef398e0ff4'), ObjectId('661d1a30d05f1cef398e0ff5'), ObjectId('661d1a30d05f1cef398e0ff6'), ObjectId('661d1a30d05f1cef398e0ff7'), ObjectId('661d1a30d05f1cef398e0ff8'), ObjectId('661d1a30d05f1cef398e0ff9'), ObjectId('661d1a30d05f1cef398e0ffa'), ObjectId('661d1a30d05f1cef398e0ffb'), ObjectId('661d1a30d05f1cef398e0ffc'), ObjectId('661d1a30d05f1cef398e0ffd'), ObjectId('661d1a30d05f1cef398e0ffe'), ObjectId('661d1a30d05f1cef398e0fff'), ObjectId('661d1a30d05f1cef398e1000'), ObjectId('661d1a30d05f1cef398e1001'), ObjectId('661d1a30d05f1cef398e1002'), ObjectId('661d1a30d05f1cef398e1003'), ObjectId('661d1a30d05f1cef398e1004'), ObjectId('661d1a30d05f1cef398e1005'), ObjectId('661d1a30d05f1cef398e1006'), ObjectId('661d1a30d05f1cef398e1007'), ObjectId('661d1a30d05f1cef398e1008'), ObjectId('661d1a30d05f1cef398e1009'), ObjectId('661d1a30d05f1cef398e100a'), ObjectId('661d1a30d05f1cef398e100b'), ObjectId('661d1a30d05f1cef398e100c'), ObjectId('661d1a30d05f1cef398e100d'), ObjectId('661d1a30d05f1cef398e100e'), ObjectId('661d1a30d05f1cef398e100f'), ObjectId('661d1a30d05f1cef398e1010'), ObjectId('661d1a30d05f1cef398e1011'), ObjectId('661d1a30d05f1cef398e1012'), ObjectId('661d1a30d05f1cef398e1013'), ObjectId('661d1a30d05f1cef398e1014'), ObjectId('661d1a30d05f1cef398e1015'), ObjectId('661d1a30d05f1cef398e1016'), ObjectId('661d1a30d05f1cef398e1017'), ObjectId('661d1a30d05f1cef398e1018'), ObjectId('661d1a30d05f1cef398e1019'), ObjectId('661d1a30d05f1cef398e101a'), ObjectId('661d1a30d05f1cef398e101b'), ObjectId('661d1a30d05f1cef398e101c'), ObjectId('661d1a30d05f1cef398e101d'), ObjectId('661d1a30d05f1cef398e101e'), ObjectId('661d1a30d05f1cef398e101f'), ObjectId('661d1a30d05f1cef398e1020'), ObjectId('661d1a30d05f1cef398e1021'), ObjectId('661d1a30d05f1cef398e1022'), ObjectId('661d1a30d05f1cef398e1023'), ObjectId('661d1a30d05f1cef398e1024'), ObjectId('661d1a30d05f1cef398e1025'), ObjectId('661d1a30d05f1cef398e1026'), ObjectId('661d1a30d05f1cef398e1027'), ObjectId('661d1a30d05f1cef398e1028'), ObjectId('661d1a30d05f1cef398e1029'), ObjectId('661d1a30d05f1cef398e102a'), ObjectId('661d1a30d05f1cef398e102b'), ObjectId('661d1a30d05f1cef398e102c'), ObjectId('661d1a30d05f1cef398e102d'), ObjectId('661d1a30d05f1cef398e102e'), ObjectId('661d1a30d05f1cef398e102f'), ObjectId('661d1a30d05f1cef398e1030'), ObjectId('661d1a30d05f1cef398e1031'), ObjectId('661d1a30d05f1cef398e1032'), ObjectId('661d1a30d05f1cef398e1033'), ObjectId('661d1a30d05f1cef398e1034'), ObjectId('661d1a30d05f1cef398e1035'), ObjectId('661d1a30d05f1cef398e1036'), ObjectId('661d1a30d05f1cef398e1037'), ObjectId('661d1a30d05f1cef398e1038'), ObjectId('661d1a30d05f1cef398e1039'), ObjectId('661d1a30d05f1cef398e103a'), ObjectId('661d1a30d05f1cef398e103b'), ObjectId('661d1a30d05f1cef398e103c'), ObjectId('661d1a30d05f1cef398e103d'), ObjectId('661d1a30d05f1cef398e103e'), ObjectId('661d1a30d05f1cef398e103f'), ObjectId('661d1a30d05f1cef398e1040'), ObjectId('661d1a30d05f1cef398e1041'), ObjectId('661d1a30d05f1cef398e1042'), ObjectId('661d1a30d05f1cef398e1043'), ObjectId('661d1a30d05f1cef398e1044'), ObjectId('661d1a30d05f1cef398e1045'), ObjectId('661d1a30d05f1cef398e1046'), ObjectId('661d1a30d05f1cef398e1047'), ObjectId('661d1a30d05f1cef398e1048'), ObjectId('661d1a30d05f1cef398e1049'), ObjectId('661d1a30d05f1cef398e104a'), ObjectId('661d1a30d05f1cef398e104b'), ObjectId('661d1a30d05f1cef398e104c'), ObjectId('661d1a30d05f1cef398e104d'), ObjectId('661d1a30d05f1cef398e104e'), ObjectId('661d1a30d05f1cef398e104f'), ObjectId('661d1a30d05f1cef398e1050'), ObjectId('661d1a30d05f1cef398e1051'), ObjectId('661d1a30d05f1cef398e1052'), ObjectId('661d1a30d05f1cef398e1053'), ObjectId('661d1a30d05f1cef398e1054'), ObjectId('661d1a30d05f1cef398e1055'), ObjectId('661d1a30d05f1cef398e1056'), ObjectId('661d1a30d05f1cef398e1057'), ObjectId('661d1a30d05f1cef398e1058'), ObjectId('661d1a30d05f1cef398e1059'), ObjectId('661d1a30d05f1cef398e105a'), ObjectId('661d1a30d05f1cef398e105b'), ObjectId('661d1a30d05f1cef398e105c'), ObjectId('661d1a30d05f1cef398e105d'), ObjectId('661d1a30d05f1cef398e105e'), ObjectId('661d1a30d05f1cef398e105f'), ObjectId('661d1a30d05f1cef398e1060'), ObjectId('661d1a30d05f1cef398e1061'), ObjectId('661d1a30d05f1cef398e1062'), ObjectId('661d1a30d05f1cef398e1063'), ObjectId('661d1a30d05f1cef398e1064'), ObjectId('661d1a30d05f1cef398e1065'), ObjectId('661d1a30d05f1cef398e1066'), ObjectId('661d1a30d05f1cef398e1067'), ObjectId('661d1a30d05f1cef398e1068'), ObjectId('661d1a30d05f1cef398e1069'), ObjectId('661d1a30d05f1cef398e106a'), ObjectId('661d1a30d05f1cef398e106b'), ObjectId('661d1a30d05f1cef398e106c'), ObjectId('661d1a30d05f1cef398e106d'), ObjectId('661d1a30d05f1cef398e106e'), ObjectId('661d1a30d05f1cef398e106f'), ObjectId('661d1a30d05f1cef398e1070'), ObjectId('661d1a30d05f1cef398e1071'), ObjectId('661d1a30d05f1cef398e1072'), ObjectId('661d1a30d05f1cef398e1073'), ObjectId('661d1a30d05f1cef398e1074'), ObjectId('661d1a30d05f1cef398e1075'), ObjectId('661d1a30d05f1cef398e1076'), ObjectId('661d1a30d05f1cef398e1077'), ObjectId('661d1a30d05f1cef398e1078'), ObjectId('661d1a30d05f1cef398e1079'), ObjectId('661d1a30d05f1cef398e107a'), ObjectId('661d1a30d05f1cef398e107b'), ObjectId('661d1a30d05f1cef398e107c'), ObjectId('661d1a30d05f1cef398e107d'), ObjectId('661d1a30d05f1cef398e107e'), ObjectId('661d1a30d05f1cef398e107f'), ObjectId('661d1a30d05f1cef398e1080'), ObjectId('661d1a30d05f1cef398e1081'), ObjectId('661d1a30d05f1cef398e1082'), ObjectId('661d1a30d05f1cef398e1083'), ObjectId('661d1a30d05f1cef398e1084'), ObjectId('661d1a30d05f1cef398e1085'), ObjectId('661d1a30d05f1cef398e1086'), ObjectId('661d1a30d05f1cef398e1087'), ObjectId('661d1a30d05f1cef398e1088'), ObjectId('661d1a30d05f1cef398e1089'), ObjectId('661d1a30d05f1cef398e108a'), ObjectId('661d1a30d05f1cef398e108b'), ObjectId('661d1a30d05f1cef398e108c'), ObjectId('661d1a30d05f1cef398e108d'), ObjectId('661d1a30d05f1cef398e108e'), ObjectId('661d1a30d05f1cef398e108f'), ObjectId('661d1a30d05f1cef398e1090'), ObjectId('661d1a30d05f1cef398e1091'), ObjectId('661d1a30d05f1cef398e1092'), ObjectId('661d1a30d05f1cef398e1093'), ObjectId('661d1a30d05f1cef398e1094'), ObjectId('661d1a30d05f1cef398e1095'), ObjectId('661d1a30d05f1cef398e1096'), ObjectId('661d1a30d05f1cef398e1097'), ObjectId('661d1a30d05f1cef398e1098'), ObjectId('661d1a30d05f1cef398e1099'), ObjectId('661d1a30d05f1cef398e109a'), ObjectId('661d1a30d05f1cef398e109b'), ObjectId('661d1a30d05f1cef398e109c'), ObjectId('661d1a30d05f1cef398e109d'), ObjectId('661d1a30d05f1cef398e109e'), ObjectId('661d1a30d05f1cef398e109f'), ObjectId('661d1a30d05f1cef398e10a0'), ObjectId('661d1a30d05f1cef398e10a1'), ObjectId('661d1a30d05f1cef398e10a2'), ObjectId('661d1a30d05f1cef398e10a3'), ObjectId('661d1a30d05f1cef398e10