### jupyter notebook to clean up data from onet

author: Jan Jörg
date: 14.03.2024

In [84]:
import json
from db import get_database
import pandas as pd
import numpy as np

In [85]:
# import authentication data

with open('./infos.json') as f:
    infos = json.load(f)
    onet = infos['onet']
    onetUsername = onet['username']
    onetPassword = onet['password']
    mongodb = infos['mongodb']
    mongoUusername = mongodb['username']
    mongoPpassword = mongodb['password']
    mongoUrl = mongodb['connectionString']

In [86]:
dbname = get_database()
collection = dbname["joined"]

documents = collection.find()
df = pd.DataFrame(list(documents))

df.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,job_zone,interests,work_styles,work_values,related_occupations,additional_information,education,2010soc,isco08,Name_de
0,661d1a30d05f1cef398e0e97,27-2011.00,short,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'http://www.actorsequity.o...,{'level_required': {'category': [{'name': 'Les...,27-2011,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,15-2011.00,short,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...",...,"{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actuary.org/'...,"{'level_required': {'category': [{'name': ""Bac...",15-2011,2120,"Mathematiker, Aktuare und Statistiker"

In [87]:
# Remove empty cols
print("Total documents: ", len(df))

# Drop columns where some values are null
df = df.dropna(how='all', axis=1)

# Drop rows where all some are null
df = df.dropna(how='all', axis=0)

# Replace any remaining NaN values with 0
df = df.fillna(0)

print("Total documents after dropping na: ", len(df))

Total documents:  846
Total documents after dropping na:  846

In [88]:
# Remove columns that are not useful
df = df.drop(['additional_information',"related_occupations","work_values","display",'detailed_work_activities',"onetsoc19","2010soc"], axis=1)
df.head(2)

,_id,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,work_activities,work_context,job_zone,interests,work_styles,education,2010soc,isco08,Name_de
0,661d1a30d05f1cef398e0e97,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...","{'high_point_code': 'ASE', 'element': [{'id': ...","{'element': [{'id': '1.C.3.a', 'related': 'htt...",{'level_required': {'category': [{'name': 'Les...,27-2011,2655,Schauspieler
1,661d1a30d05f1cef398e0e98,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'high_point_code': 'CIE', 'element': [{'id': ...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'level_required': {'category': [{'name': ""Bac...",15-2011,2120,"Mathematiker, Aktuare und Statistiker"

In [89]:
occupation = pd.DataFrame(list(df["occupation"])) 

# List of columns to drop
cols_to_drop = ["code","updated","sample_of_reported_job_titles","summary_resources","details_resources","custom_resources", "tags"]

# Drop the columns
occupation = occupation.drop(cols_to_drop, axis=1)

df = pd.concat([df.drop('occupation', axis=1), occupation], axis=1)

occupation.head(2)

,title,description,bright_outlook,also_see
0,Actors,"Play parts in stage, television, radio, video,...",NaN,NaN
1,Actuaries,"Analyze statistical data, such as mortality, a...",{'description': 'This occupation is expected t...,NaN

In [90]:
tasks = pd.DataFrame(list(df["tasks"]))

cols_to_drop = [""]

tasks = tasks.drop(cols_to_drop, axis=1)
df = pd.concat([df.drop('occupation', axis=1), tasks], axis=1)

tasks.head(2)

KeyError: "[''] not found in axis"

In [ ]:
#technology_skills
#tools_used
#tools_technology
#knowledge
#skills
#abilities
#work_activities
#work_context
#job_zone
#interests
#work_styles

In [ ]:
print(df["occupation"].head(5))

KeyError: 'occupation'