### jupyter notebook to do feature engineering

author: Jan JÃ¶rg
date: 14.03.2024

In [52]:
import json
from db import get_database
import pandas as pd
import numpy as np

In [53]:
# import authentication data

with open('./infos.json') as f:
    infos = json.load(f)
    onet = infos['onet']
    onetUsername = onet['username']
    onetPassword = onet['password']
    mongodb = infos['mongodb']
    mongoUusername = mongodb['username']
    mongoPpassword = mongodb['password']
    mongoUrl = mongodb['connectionString']

In [54]:

dbname = get_database()

collection = dbname["joined"]
fo_col = dbname["fo_joined"]
job_zone_col = dbname["job_zone"]
abilities_col = dbname["abilities"]
skills_col = dbname["skills"]
education_col = dbname["education"]

documents = collection.find()
fo = fo_col.find()
job_zone = job_zone_col.find()
abilities = abilities_col.find()
skills = skills_col.find()
education = education_col.find()

df = pd.DataFrame(list(documents))
fo_df = pd.DataFrame(list(fo))
job_zone_df = pd.DataFrame(list(job_zone))
abilities_df = pd.DataFrame(list(abilities))
skills_df = pd.DataFrame(list(skills))
education_df = pd.DataFrame(list(education))

In [55]:
# Remove empty cols
print("Total documents: ", len(df))

# Drop columns where some values are null
df = df.dropna(how='all', axis=1)

# Drop rows where all some are null
df = df.dropna(how='all', axis=0)

# Replace any remaining NaN values with 0
df = df.fillna(0)

print("Total documents after dropping na: ", len(df))

Total documents:  846
Total documents after dropping na:  846

In [56]:
# Remove columns that are not useful
df = df.drop(['additional_information',"tasks","related_occupations","display","technology_skills","tools_technology","_id","tools_used","work_context","interests","work_values","knowledge","detailed_work_activities","work_activities","work_styles"], axis=1)

# add field Berufshauptgruppen
df["Berufshauptgruppe"] = df["isco08"].str[0]

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,Berufshauptgruppe
0,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler,2
1,"{'code': '23-1021.00', 'title': 'Administrativ...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,2612,Richter,2

In [57]:
occupation = pd.DataFrame(list(df["occupation"])) 

# List of columns to drop
cols_to_drop = ["code","updated","sample_of_reported_job_titles","summary_resources","details_resources","custom_resources", "tags"]

# Drop the columns
occupation = occupation.drop(cols_to_drop, axis=1)

occupation = occupation.iloc[:, 0]
df["occupation"] = occupation

df["occupation"].head(3)

0                                               Actors
1    Administrative Law Judges, Adjudicators, and H...
2    Aerospace Engineering and Operations Technolog...
Name: occupation, dtype: object

In [58]:
# Initialize all skill columns to 0
for _, skill in skills_df.iterrows():
    skilltext = ("s" + str(skill["skill_id"]))
    df[skilltext] = 0

# add Value to each skill
for index, row in df["skills"].items():
    row = pd.DataFrame(row['element'])

    # Merge the skills dataframe with the skills_df dataframe to get the new skill id   
    row = row.merge(skills_df, left_on='id', right_on='id', how='left')

    for _, skill_row in row.iterrows():
        dftext = ("s" + str(skill_row["skill_id"]))
        score_value = skill_row["score"]['value']
        df.loc[index, dftext] = score_value

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,Berufshauptgruppe,s10,s1,...,s29,s33,s8,s9,s14,s17,s20,s26,s27,s34
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler,2,47,72,...,0,0,47,47,41,35,25,0,0,0
1,"Administrative Law Judges, Adjudicators, and H...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,2612,Richter,2,78,81,...,16,3,72,50,69,41,44,0,0,0

In [59]:
# Initialize all ability columns to 0
for _, ability in abilities_df.iterrows():
    abilitytext = ("a" + str(ability["ability_id"]))
    df[abilitytext] = 0

# add Value to each ability
for index, row in df["abilities"].items():
    row = pd.DataFrame(row['element'])

    # Merge the skills dataframe with the skills_df dataframe to get the new skill id   
    row = row.merge(abilities_df, left_on='id', right_on='id', how='left')

    for _, ability_row in row.iterrows():
        dftext = ("a" + str(ability_row["ability_id"]))
        score_value = ability_row["score"]['value']
        df.loc[index, dftext] = score_value

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,Berufshauptgruppe,s10,s1,...,a33,a34,a36,a39,a41,a43,a44,a28,a40,a49
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler,2,47,72,...,25,25,22,3,0,0,0,25,3,0
1,"Administrative Law Judges, Adjudicators, and H...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,2612,Richter,2,78,81,...,0,0,0,28,16,0,31,22,6,0

In [60]:
new_education = list()

for index, row in df["education"].items():
    row = pd.DataFrame(row['level_required']['category'])

    # Check if 'score' exists
    if 'score' in row.columns:
        # Extract 'value' from 'score' and convert it to a DataFrame column
        max_value = row['score'].apply(lambda d: d['value'])

        # Find the index of the row with the highest score
        max_score_index = max_value.idxmax()

        # Select only the row with the highest score
        row = row.loc[[max_score_index]]

    cols_to_drop = ["description", "score"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

   
    # Merge the education dataframe with the education_df dataframe to get the new education level
    row = row.merge(education_df, left_on='name', right_on='name', how='left')

    cols_to_drop = ["id", "_id", "name"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]

    new_education.append(row)


df["education"] = new_education

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,Berufshauptgruppe,s10,s1,...,a33,a34,a36,a39,a41,a43,a44,a28,a40,a49
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",1,2655,Schauspieler,2,47,72,...,25,25,22,3,0,0,0,25,3,0
1,"Administrative Law Judges, Adjudicators, and H...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",9,2612,Richter,2,78,81,...,0,0,0,28,16,0,31,22,6,0

In [61]:
new_job_zones = list()

for index, row in df["job_zone"].items():
    value = row["value"]
    
    row = job_zone_df[job_zone_df["value"] == value]
  
    cols_to_drop = ["id", "_id", "related_experience", "education", "title", "job_training","job_zone_examples","value"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]
    
    new_job_zones.append(row)

df["job_zone"] = new_job_zones

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,Berufshauptgruppe,s10,s1,...,a33,a34,a36,a39,a41,a43,a44,a28,a40,a49
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",1,1,2655,Schauspieler,2,47,72,...,25,25,22,3,0,0,0,25,3,0
1,"Administrative Law Judges, Adjudicators, and H...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...",4,9,2612,Richter,2,78,81,...,0,0,0,28,16,0,31,22,6,0

In [62]:
def convert_np_array_to_list(obj):
    if isinstance(obj, np.ndarray):
        return obj.tolist()
    return obj

In [63]:
# Remove columns that are not useful
df = df.drop(["skills","abilities","occupation"], axis=1)
df.head(2)

,job_zone,education,isco08,Name_de,Berufshauptgruppe,s10,s1,s4,s11,s22,...,a33,a34,a36,a39,a41,a43,a44,a28,a40,a49
0,1,1,2655,Schauspieler,2,47,72,69,47,13,...,25,25,22,3,0,0,0,25,3,0
1,4,9,2612,Richter,2,78,81,72,78,16,...,0,0,0,28,16,0,31,22,6,0

In [64]:
fo_df = pd.merge(df, fo_df, left_on='isco08', right_on="isco08", how='left')
fo_df = fo_df.drop_duplicates(subset=['isco08'])
fo_df = fo_df.dropna()

In [65]:
dbname = get_database()

insert_df = df.applymap(convert_np_array_to_list)
insert_fo_df = fo_df.applymap(convert_np_array_to_list)

collection_name = dbname["with_id"]
fo_col_name = dbname["fo_with_id"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(insert_df.to_dict("records"))
fo_col_name.insert_many(insert_fo_df.to_dict("records"))

/var/folders/ms/0wqr6tr506lfp142wmz0qph40000gn/T/ipykernel_9103/3673509860.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  insert_df = df.applymap(convert_np_array_to_list)
/var/folders/ms/0wqr6tr506lfp142wmz0qph40000gn/T/ipykernel_9103/3673509860.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  insert_fo_df = fo_df.applymap(convert_np_array_to_list)

InsertManyResult([ObjectId('663e2380db2fdc9e602a95af'), ObjectId('663e2380db2fdc9e602a95bc'), ObjectId('663e2380db2fdc9e602a9582'), ObjectId('663e2380db2fdc9e602a9516'), ObjectId('663e2380db2fdc9e602a94db'), ObjectId('663e2380db2fdc9e602a9540'), ObjectId('663e2380db2fdc9e602a96f9'), ObjectId('663e2380db2fdc9e602a96fa'), ObjectId('663e2380db2fdc9e602a9680'), ObjectId('663e2380db2fdc9e602a9562'), ObjectId('663e2380db2fdc9e602a95c2'), ObjectId('663e2380db2fdc9e602a96f6'), ObjectId('663e2380db2fdc9e602a962a'), ObjectId('663e2380db2fdc9e602a95be'), ObjectId('663e2380db2fdc9e602a94ff'), ObjectId('663e2380db2fdc9e602a949a'), ObjectId('663e2380db2fdc9e602a9628'), ObjectId('663e2380db2fdc9e602a9567'), ObjectId('663e2380db2fdc9e602a9507'), ObjectId('663e2380db2fdc9e602a94fe'), ObjectId('663e2380db2fdc9e602a96f2'), ObjectId('663e2380db2fdc9e602a96f3'), ObjectId('663e2380db2fdc9e602a96f4'), ObjectId('663e2380db2fdc9e602a96f5'), ObjectId('663e2380db2fdc9e602a96f7'), ObjectId('663e2380db2fdc9e602a94c7'), ObjectId('663e2380db2fdc9e602a94b7'), ObjectId('663e2380db2fdc9e602a952f'), ObjectId('663e2380db2fdc9e602a94e9'), ObjectId('663e2380db2fdc9e602a94e6'), ObjectId('663e2380db2fdc9e602a94c1'), ObjectId('663e2380db2fdc9e602a94f5'), ObjectId('663e2380db2fdc9e602a9598'), ObjectId('663e2380db2fdc9e602a94c2'), ObjectId('663e2380db2fdc9e602a9520'), ObjectId('663e2380db2fdc9e602a94a5'), ObjectId('663e2380db2fdc9e602a95ee'), ObjectId('663e2380db2fdc9e602a95ca'), ObjectId('663e2380db2fdc9e602a9499'), ObjectId('663e2380db2fdc9e602a9500'), ObjectId('663e2380db2fdc9e602a94a1'), ObjectId('663e2380db2fdc9e602a964d'), ObjectId('663e2380db2fdc9e602a9688'), ObjectId('663e2380db2fdc9e602a9557'), ObjectId('663e2380db2fdc9e602a96eb'), ObjectId('663e2380db2fdc9e602a961b'), ObjectId('663e2380db2fdc9e602a950e'), ObjectId('663e2380db2fdc9e602a95d1'), ObjectId('663e2380db2fdc9e602a9647'), ObjectId('663e2380db2fdc9e602a94d7'), ObjectId('663e2380db2fdc9e602a95e3'), ObjectId('663e2380db2fdc9e602a95e1'), ObjectId('663e2380db2fdc9e602a95f3'), ObjectId('663e2380db2fdc9e602a9723'), ObjectId('663e2380db2fdc9e602a9724'), ObjectId('663e2380db2fdc9e602a9639'), ObjectId('663e2380db2fdc9e602a950a'), ObjectId('663e2380db2fdc9e602a9532'), ObjectId('663e2380db2fdc9e602a9720'), ObjectId('663e2380db2fdc9e602a94d9'), ObjectId('663e2380db2fdc9e602a958b'), ObjectId('663e2380db2fdc9e602a94da'), ObjectId('663e2380db2fdc9e602a958d'), ObjectId('663e2380db2fdc9e602a958e'), ObjectId('663e2380db2fdc9e602a954b'), ObjectId('663e2380db2fdc9e602a9590'), ObjectId('663e2380db2fdc9e602a959b'), ObjectId('663e2380db2fdc9e602a967a'), ObjectId('663e2380db2fdc9e602a96cf'), ObjectId('663e2380db2fdc9e602a95cb'), ObjectId('663e2380db2fdc9e602a957e'), ObjectId('663e2380db2fdc9e602a94f9'), ObjectId('663e2380db2fdc9e602a94fd'), ObjectId('663e2380db2fdc9e602a94cc'), ObjectId('663e2380db2fdc9e602a9605'), ObjectId('663e2380db2fdc9e602a9610'), ObjectId('663e2380db2fdc9e602a95b3'), ObjectId('663e2380db2fdc9e602a94e5'), ObjectId('663e2380db2fdc9e602a9551'), ObjectId('663e2380db2fdc9e602a9649'), ObjectId('663e2380db2fdc9e602a9616'), ObjectId('663e2380db2fdc9e602a95d2'), ObjectId('663e2380db2fdc9e602a94ed'), ObjectId('663e2380db2fdc9e602a9666'), ObjectId('663e2380db2fdc9e602a94a3'), ObjectId('663e2380db2fdc9e602a94de'), ObjectId('663e2380db2fdc9e602a94df'), ObjectId('663e2380db2fdc9e602a94a4'), ObjectId('663e2380db2fdc9e602a9549'), ObjectId('663e2380db2fdc9e602a94ae'), ObjectId('663e2380db2fdc9e602a94a9'), ObjectId('663e2380db2fdc9e602a969a'), ObjectId('663e2380db2fdc9e602a95ab'), ObjectId('663e2380db2fdc9e602a95ac'), ObjectId('663e2380db2fdc9e602a95ec'), ObjectId('663e2380db2fdc9e602a94ca'), ObjectId('663e2380db2fdc9e602a94d3'), ObjectId('663e2380db2fdc9e602a9664'), ObjectId('663e2380db2fdc9e602a9518'), ObjectId('663e2380db2fdc9e602a9576'), ObjectId('663e2380db2fdc9e602a94bc'), ObjectId('663e2380db2fdc9e602a9517'), ObjectId('663e2380db2fdc9e602a9602'), ObjectId('663e2380db2fdc9e602a94a2'), ObjectId('663e2380db2fdc9e602a9536'), ObjectId('663e2380db2fdc9e602a9537'), ObjectId('663e2380db2fdc9e602a95c6'), ObjectId('663e2380db2fdc9e602a949f'), ObjectId('663e2380db2fdc9e602a962e'), ObjectId('663e2380db2fdc9e602a959e'), ObjectId('663e2380db2fdc9e602a94b2'), ObjectId('663e2380db2fdc9e602a9544'), ObjectId('663e2380db2fdc9e602a9545'), ObjectId('663e2380db2fdc9e602a95d5'), ObjectId('663e2380db2fdc9e602a94f6'), ObjectId('663e2380db2fdc9e602a95ce'), ObjectId('663e2380db2fdc9e602a95f1'), ObjectId('663e2380db2fdc9e602a9506'), ObjectId('663e2380db2fdc9e602a96d9'), ObjectId('663e2380db2fdc9e602a971a'), ObjectId('663e2380db2fdc9e602a9515'), ObjectId('663e2380db2fdc9e602a9573'), ObjectId('663e2380db2fdc9e602a9546'), ObjectId('663e2380db2fdc9e602a9714'), ObjectId('663e2380db2fdc9e602a95de'), ObjectId('663e2380db2fdc9e602a94ba'), ObjectId('663e2380db2fdc9e602a94b4'), ObjectId('663e2380db2fdc9e602a9691'), ObjectId('663e2380db2fdc9e602a95e4'), ObjectId('663e2380db2fdc9e602a9734'), ObjectId('663e2380db2fdc9e602a95f5'), ObjectId('663e2380db2fdc9e602a9595'), ObjectId('663e2380db2fdc9e602a94a8'), ObjectId('663e2380db2fdc9e602a95f2'), ObjectId('663e2380db2fdc9e602a94b3'), ObjectId('663e2380db2fdc9e602a955c'), ObjectId('663e2380db2fdc9e602a94ac'), ObjectId('663e2380db2fdc9e602a961d'), ObjectId('663e2380db2fdc9e602a9701'), ObjectId('663e2380db2fdc9e602a963c'), ObjectId('663e2380db2fdc9e602a96e2'), ObjectId('663e2380db2fdc9e602a966d'), ObjectId('663e2380db2fdc9e602a96e4'), ObjectId('663e2380db2fdc9e602a96e5'), ObjectId('663e2380db2fdc9e602a95d7'), ObjectId('663e2380db2fdc9e602a94e0'), ObjectId('663e2380db2fdc9e602a94b8'), ObjectId('663e2380db2fdc9e602a96f8'), ObjectId('663e2380db2fdc9e602a95f4'), ObjectId('663e2380db2fdc9e602a9553'), ObjectId('663e2380db2fdc9e602a94a0'), ObjectId('663e2380db2fdc9e602a9569'), ObjectId('663e2380db2fdc9e602a9631'), ObjectId('663e2380db2fdc9e602a94b6'), ObjectId('663e2380db2fdc9e602a94f7'), ObjectId('663e2380db2fdc9e602a95ad'), ObjectId('663e2380db2fdc9e602a94e8'), ObjectId('663e2380db2fdc9e602a94aa'), ObjectId('663e2380db2fdc9e602a96b6'), ObjectId('663e2380db2fdc9e602a966a'), ObjectId('663e2380db2fdc9e602a94f1'), ObjectId('663e2380db2fdc9e602a95aa'), ObjectId('663e2380db2fdc9e602a9699'), ObjectId('663e2380db2fdc9e602a9650'), ObjectId('663e2380db2fdc9e602a9651'), ObjectId('663e2380db2fdc9e602a9618'), ObjectId('663e2380db2fdc9e602a94c6'), ObjectId('663e2380db2fdc9e602a96fc'), ObjectId('663e2380db2fdc9e602a9641'), ObjectId('663e2380db2fdc9e602a9577'), ObjectId('663e2380db2fdc9e602a971b'), ObjectId('663e2380db2fdc9e602a9533'), ObjectId('663e2380db2fdc9e602a9534'), ObjectId('663e2380db2fdc9e602a94ab'), ObjectId('663e2380db2fdc9e602a95c3'), ObjectId('663e2380db2fdc9e602a963e'), ObjectId('663e2380db2fdc9e602a963f'), ObjectId('663e2380db2fdc9e602a961e'), ObjectId('663e2380db2fdc9e602a9574'), ObjectId('663e2380db2fdc9e602a9498'), ObjectId('663e2380db2fdc9e602a949b'), ObjectId('663e2380db2fdc9e602a949c'), ObjectId('663e2380db2fdc9e602a949d'), ObjectId('663e2380db2fdc9e602a949e'), ObjectId('663e2380db2fdc9e602a9539'), ObjectId('663e2380db2fdc9e602a94af'), ObjectId('663e2380db2fdc9e602a94e2'), ObjectId('663e2380db2fdc9e602a953c'), ObjectId('663e2380db2fdc9e602a953d'), ObjectId('663e2380db2fdc9e602a94e3'), ObjectId('663e2380db2fdc9e602a953f'), ObjectId('663e2380db2fdc9e602a9541'), ObjectId('663e2380db2fdc9e602a9597'), ObjectId('663e2380db2fdc9e602a9501'), ObjectId('663e2380db2fdc9e602a95d4'), ObjectId('663e2380db2fdc9e602a9548'), ObjectId('663e2380db2fdc9e602a95ed'), ObjectId('663e2380db2fdc9e602a964e'), ObjectId('663e2380db2fdc9e602a9599'), ObjectId('663e2380db2fdc9e602a959f'), ObjectId('663e2380db2fdc9e602a965c'), ObjectId('663e2380db2fdc9e602a95ff'), ObjectId('663e2380db2fdc9e602a9700'), ObjectId('663e2380db2fdc9e602a94c4'), ObjectId('663e2380db2fdc9e602a9570'), ObjectId('663e2380db2fdc9e602a9571'), ObjectId('663e2380db2fdc9e602a94d5'), ObjectId('663e2380db2fdc9e602a9609'), ObjectId('663e2380db2fdc9e602a9696'), ObjectId('663e2380db2fdc9e602a95bf'), ObjectId('663e2380db2fdc9e602a95c0'), ObjectId('663e2380db2fdc9e602a9547'), ObjectId('663e2380db2fdc9e602a9687'), ObjectId('663e2380db2fdc9e602a9526'), ObjectId('663e2380db2fdc9e602a94cd'), ObjectId('663e2380db2fdc9e602a9509'), ObjectId('663e2380db2fdc9e602a95ae'), ObjectId('663e2380db2fdc9e602a95e7'), ObjectId('663e2380db2fdc9e602a967e'), ObjectId('663e2380db2fdc9e602a9626'), ObjectId('663e2380db2fdc9e602a951e'), ObjectId('663e2380db2fdc9e602a94fb'), ObjectId('663e2380db2fdc9e602a96e0'), ObjectId('663e2380db2fdc9e602a9721'), ObjectId('663e2380db2fdc9e602a94b1'), ObjectId('663e2380db2fdc9e602a94b0'), ObjectId('663e2380db2fdc9e602a95e2'), ObjectId('663e2380db2fdc9e602a95b6'), ObjectId('663e2380db2fdc9e602a94bb'), ObjectId('663e2380db2fdc9e602a95e9'), ObjectId('663e2380db2fdc9e602a94c5'), ObjectId('663e2380db2fdc9e602a9525'), ObjectId('663e2380db2fdc9e602a95a8'), ObjectId('663e2380db2fdc9e602a9531'), ObjectId('663e2380db2fdc9e602a9663'), ObjectId('663e2380db2fdc9e602a9601'), ObjectId('663e2380db2fdc9e602a9725'), ObjectId('663e2380db2fdc9e602a9514'), ObjectId('663e2380db2fdc9e602a96ef'), ObjectId('663e2380db2fdc9e602a952d'), ObjectId('663e2380db2fdc9e602a94ad'), ObjectId('663e2380db2fdc9e602a9504'), ObjectId('663e2380db2fdc9e602a94d0'), ObjectId('663e2380db2fdc9e602a94a6'), ObjectId('663e2380db2fdc9e602a95f7'), ObjectId('663e2380db2fdc9e602a94d4'), ObjectId('663e2380db2fdc9e602a95cf'), ObjectId('663e2380db2fdc9e602a94ee'), ObjectId('663e2380db2fdc9e602a94c3'), ObjectId('663e2380db2fdc9e602a959c'), ObjectId('663e2380db2fdc9e602a9635'), ObjectId('663e2380db2fdc9e602a951a'), ObjectId('663e2380db2fdc9e602a9682'), ObjectId('663e2380db2fdc9e602a9722'), ObjectId('663e2380db2fdc9e602a967d'), ObjectId('663e2380db2fdc9e602a94e1'), ObjectId('663e2380db2fdc9e602a95d6'), ObjectId('663e2380db2fdc9e602a9583'), ObjectId('663e2380db2fdc9e602a9584'), ObjectId('663e2380db2fdc9e602a9600'), ObjectId('663e2380db2fdc9e602a9565'), ObjectId('663e2380db2fdc9e602a9731'), ObjectId('663e2380db2fdc9e602a972b'), ObjectId('663e2380db2fdc9e602a95b5'), ObjectId('663e2380db2fdc9e602a9611'), ObjectId('663e2380db2fdc9e602a96ba'), ObjectId('663e2380db2fdc9e602a9502'), ObjectId('663e2380db2fdc9e602a971f'), ObjectId('663e2380db2fdc9e602a9580'), ObjectId('663e2380db2fdc9e602a94cf'), ObjectId('663e2380db2fdc9e602a94f2'), ObjectId('663e2380db2fdc9e602a9736'), ObjectId('663e2380db2fdc9e602a94ea'), ObjectId('663e2380db2fdc9e602a96b2'), ObjectId('663e2380db2fdc9e602a95a4'), ObjectId('663e2380db2fdc9e602a96a4'), ObjectId('663e2380db2fdc9e602a951c'), ObjectId('663e2380db2fdc9e602a9719'), ObjectId('663e2380db2fdc9e602a9636'), ObjectId('663e2380db2fdc9e602a96f1'), ObjectId('663e2380db2fdc9e602a964b'), ObjectId('663e2380db2fdc9e602a965f'), ObjectId('663e2380db2fdc9e602a972a'), ObjectId('663e2380db2fdc9e602a9505'), ObjectId('663e2380db2fdc9e602a9702'), ObjectId('663e2380db2fdc9e602a9703'), ObjectId('663e2380db2fdc9e602a950c'), ObjectId('663e2380db2fdc9e602a96cb'), ObjectId('663e2380db2fdc9e602a9642'), ObjectId('663e2380db2fdc9e602a968d'), ObjectId('663e2380db2fdc9e602a9706'), ObjectId('663e2380db2fdc9e602a966e'), ObjectId('663e2380db2fdc9e602a94c9'), ObjectId('663e2380db2fdc9e602a9563'), ObjectId('663e2380db2fdc9e602a9564'), ObjectId('663e2380db2fdc9e602a94fc'), ObjectId('663e2380db2fdc9e602a964c'), ObjectId('663e2380db2fdc9e602a94c0'), ObjectId('663e2380db2fdc9e602a970b'), ObjectId('663e2380db2fdc9e602a9711'), ObjectId('663e2380db2fdc9e602a9684'), ObjectId('663e2380db2fdc9e602a9561'), ObjectId('663e2380db2fdc9e602a94c8'), ObjectId('663e2380db2fdc9e602a968f'), ObjectId('663e2380db2fdc9e602a95c7'), ObjectId('663e2380db2fdc9e602a968a'), ObjectId('663e2380db2fdc9e602a9508'), ObjectId('663e2380db2fdc9e602a9710'), ObjectId('663e2380db2fdc9e602a965d'), ObjectId('663e2380db2fdc9e602a96cc'), ObjectId('663e2380db2fdc9e602a973c'), ObjectId('663e2380db2fdc9e602a9713'), ObjectId('663e2380db2fdc9e602a9607'), ObjectId('663e2380db2fdc9e602a972e'), ObjectId('663e2380db2fdc9e602a971d'), ObjectId('663e2380db2fdc9e602a9708'), ObjectId('663e2380db2fdc9e602a952c'), ObjectId('663e2380db2fdc9e602a95b8'), ObjectId('663e2380db2fdc9e602a9560'), ObjectId('663e2380db2fdc9e602a950d'), ObjectId('663e2380db2fdc9e602a9672'), ObjectId('663e2380db2fdc9e602a951b'), ObjectId('663e2380db2fdc9e602a96e9'), ObjectId('663e2380db2fdc9e602a96d6'), ObjectId('663e2380db2fdc9e602a962f'), ObjectId('663e2380db2fdc9e602a970f')], acknowledged=True)