### jupyter notebook to do feature engineering

author: Jan Jörg
date: 14.03.2024

In [14]:
import json
from db import get_database
import pandas as pd
import numpy as np

In [15]:
# import authentication data

with open('./infos.json') as f:
    infos = json.load(f)
    onet = infos['onet']
    onetUsername = onet['username']
    onetPassword = onet['password']
    mongodb = infos['mongodb']
    mongoUusername = mongodb['username']
    mongoPpassword = mongodb['password']
    mongoUrl = mongodb['connectionString']

In [16]:
dbname = get_database()

collection = dbname["joined"]
job_zone_col = dbname["job_zone"]
abilities_col = dbname["abilities"]
work_context_col = dbname["work_context"]
knowledge_col = dbname["knowledge"]
skills_col = dbname["skills"]
work_styles_col = dbname["work_styles"]
detailed_work_activities_col = dbname["detailed_work_activities"]
education_col = dbname["education"]
work_activities_col = dbname["work_activities"]
work_values_col = dbname["work_values"]

documents = collection.find()
job_zone = job_zone_col.find()
abilities = abilities_col.find()
work_context = work_context_col.find()
knowledge = knowledge_col.find()
skills = skills_col.find()
work_styles = work_styles_col.find()
detailed_work_activities = detailed_work_activities_col.find()
education = education_col.find()
work_activities = work_activities_col.find()
work_values = work_values_col.find()

df = pd.DataFrame(list(documents))
job_zone_df = pd.DataFrame(list(job_zone))
abilities_df = pd.DataFrame(list(abilities))
work_context_df = pd.DataFrame(list(work_context))
knowledge_df = pd.DataFrame(list(knowledge))
skills_df = pd.DataFrame(list(skills))
work_styles_df = pd.DataFrame(list(work_styles))
detailed_work_activities_df = pd.DataFrame(list(detailed_work_activities))
education_df = pd.DataFrame(list(education))
work_activities_df = pd.DataFrame(list(work_activities))
work_values_df = pd.DataFrame(list(work_values))

In [17]:
# Remove empty cols
print("Total documents: ", len(df))

# Drop columns where some values are null
df = df.dropna(how='all', axis=1)

# Drop rows where all some are null
df = df.dropna(how='all', axis=0)

# Replace any remaining NaN values with 0
df = df.fillna(0)

print("Total documents after dropping na: ", len(df))

Total documents:  846
Total documents after dropping na:  846

In [18]:
# Remove columns that are not useful
df = df.drop(['additional_information',"tasks","related_occupations","display","onetsoc19","2010soc","technology_skills","tools_technology","_id","tools_used","work_context","interests","work_values","knowledge","detailed_work_activities","work_activities","work_styles"], axis=1)
df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de
0,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler
1,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker"

In [19]:
occupation = pd.DataFrame(list(df["occupation"])) 

# List of columns to drop
cols_to_drop = ["code","updated","sample_of_reported_job_titles","summary_resources","details_resources","custom_resources", "tags"]

# Drop the columns
occupation = occupation.drop(cols_to_drop, axis=1)

occupation = occupation.iloc[:, 0]
df["occupation"] = occupation

df["occupation"].head(3)

0               Actors
1            Actuaries
2    Acute Care Nurses
Name: occupation, dtype: object

In [20]:
# Initialize all skill columns to 0
for _, skill in skills_df.iterrows():
    skilltext = ("s" + str(skill["skill_id"]))
    df[skilltext] = 0

# add Value to each skill
for index, row in df["skills"].items():
    row = pd.DataFrame(row['element'])

    # Merge the skills dataframe with the skills_df dataframe to get the new skill id   
    row = row.merge(skills_df, left_on='id', right_on='id', how='left')

    for _, skill_row in row.iterrows():
        dftext = ("s" + str(skill_row["skill_id"]))
        score_value = skill_row["score"]['value']
        df.loc[index, dftext] = score_value

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,s1,s2,s3,...,s26,s27,s28,s29,s30,s31,s32,s33,s34,s35
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler,72,72,69,...,0,0,0,0,0,0,0,0,0,0
1,Actuaries,"{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker",81,72,75,...,0,0,41,25,81,0,28,22,0,0

In [21]:
# Initialize all ability columns to 0
for _, ability in abilities_df.iterrows():
    abilitytext = ("a" + str(ability["ability_id"]))
    df[abilitytext] = 0

# add Value to each ability
for index, row in df["abilities"].items():
    row = pd.DataFrame(row['element'])

    # Merge the skills dataframe with the skills_df dataframe to get the new skill id   
    row = row.merge(abilities_df, left_on='id', right_on='id', how='left')

    for _, ability_row in row.iterrows():
        dftext = ("a" + str(ability_row["ability_id"]))
        score_value = ability_row["score"]['value']
        df.loc[index, dftext] = score_value

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,s1,s2,s3,...,a43,a44,a45,a46,a47,a48,a49,a50,a51,a52
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,2655,Schauspieler,72,72,69,...,0,0,0,0,0,0,0,0,0,0
1,Actuaries,"{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...",2120,"Mathematiker, Aktuare und Statistiker",81,72,75,...,0,91,0,0,0,0,0,0,0,0

In [22]:
new_education = list()

for index, row in df["education"].items():
    row = pd.DataFrame(row['level_required']['category'])

    # Check if 'score' exists
    if 'score' in row.columns:
        # Extract 'value' from 'score' and convert it to a DataFrame column
        max_value = row['score'].apply(lambda d: d['value'])

        # Find the index of the row with the highest score
        max_score_index = max_value.idxmax()

        # Select only the row with the highest score
        row = row.loc[[max_score_index]]

    cols_to_drop = ["description", "score"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

   
    # Merge the education dataframe with the education_df dataframe to get the new education level
    row = row.merge(education_df, left_on='name', right_on='name', how='left')

    cols_to_drop = ["id", "_id", "name"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]

    new_education.append(row)


df["education"] = new_education

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,s1,s2,s3,...,a43,a44,a45,a46,a47,a48,a49,a50,a51,a52
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",1,2655,Schauspieler,72,72,69,...,0,0,0,0,0,0,0,0,0,0
1,Actuaries,"{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'value': 4, 'title': 'Job Zone Four: Consider...",2,2120,"Mathematiker, Aktuare und Statistiker",81,72,75,...,0,91,0,0,0,0,0,0,0,0

In [23]:
new_job_zones = list()

for index, row in df["job_zone"].items():
    value = row["value"]
    
    row = job_zone_df[job_zone_df["value"] == value]
  
    cols_to_drop = ["id", "_id", "related_experience", "education", "title", "job_training","job_zone_examples","value"]
    row = row.drop(cols_to_drop, axis=1, errors='ignore')

    # Convert DataFrame to numpy array
    row = row.to_numpy().flatten()[0]
    
    new_job_zones.append(row)

df["job_zone"] = new_job_zones

df.head(2)

,occupation,skills,abilities,job_zone,education,isco08,Name_de,s1,s2,s3,...,a43,a44,a45,a46,a47,a48,a49,a50,a51,a52
0,Actors,"{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",1,1,2655,Schauspieler,72,72,69,...,0,0,0,0,0,0,0,0,0,0
1,Actuaries,"{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...",2,2,2120,"Mathematiker, Aktuare und Statistiker",81,72,75,...,0,91,0,0,0,0,0,0,0,0

In [24]:
def convert_np_array_to_list(obj):
    if isinstance(obj, np.ndarray):
        return obj.tolist()
    return obj

In [25]:
# Remove columns that are not useful
df = df.drop(["skills","abilities","occupation"], axis=1)
df.head(2)

,job_zone,education,isco08,Name_de,s1,s2,s3,s4,s5,s6,...,a43,a44,a45,a46,a47,a48,a49,a50,a51,a52
0,1,1,2655,Schauspieler,72,72,69,69,50,50,...,0,0,0,0,0,0,0,0,0,0
1,2,2,2120,"Mathematiker, Aktuare und Statistiker",81,72,75,50,81,53,...,0,91,0,0,0,0,0,0,0,0

In [26]:
dbname = get_database()

insert_df = df.applymap(convert_np_array_to_list)

collection_name = dbname["with_id"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(insert_df.to_dict("records"))

/var/folders/ms/0wqr6tr506lfp142wmz0qph40000gn/T/ipykernel_3024/2081302805.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  insert_df = df.applymap(convert_np_array_to_list)

InsertManyResult([ObjectId('662f495f6ad0038ed71eb00e'), ObjectId('662f495f6ad0038ed71eb00f'), ObjectId('662f495f6ad0038ed71eb010'), ObjectId('662f495f6ad0038ed71eb011'), ObjectId('662f495f6ad0038ed71eb012'), ObjectId('662f495f6ad0038ed71eb013'), ObjectId('662f495f6ad0038ed71eb014'), ObjectId('662f495f6ad0038ed71eb015'), ObjectId('662f495f6ad0038ed71eb016'), ObjectId('662f495f6ad0038ed71eb017'), ObjectId('662f495f6ad0038ed71eb018'), ObjectId('662f495f6ad0038ed71eb019'), ObjectId('662f495f6ad0038ed71eb01a'), ObjectId('662f495f6ad0038ed71eb01b'), ObjectId('662f495f6ad0038ed71eb01c'), ObjectId('662f495f6ad0038ed71eb01d'), ObjectId('662f495f6ad0038ed71eb01e'), ObjectId('662f495f6ad0038ed71eb01f'), ObjectId('662f495f6ad0038ed71eb020'), ObjectId('662f495f6ad0038ed71eb021'), ObjectId('662f495f6ad0038ed71eb022'), ObjectId('662f495f6ad0038ed71eb023'), ObjectId('662f495f6ad0038ed71eb024'), ObjectId('662f495f6ad0038ed71eb025'), ObjectId('662f495f6ad0038ed71eb026'), ObjectId('662f495f6ad0038ed71eb027'), ObjectId('662f495f6ad0038ed71eb028'), ObjectId('662f495f6ad0038ed71eb029'), ObjectId('662f495f6ad0038ed71eb02a'), ObjectId('662f495f6ad0038ed71eb02b'), ObjectId('662f495f6ad0038ed71eb02c'), ObjectId('662f495f6ad0038ed71eb02d'), ObjectId('662f495f6ad0038ed71eb02e'), ObjectId('662f495f6ad0038ed71eb02f'), ObjectId('662f495f6ad0038ed71eb030'), ObjectId('662f495f6ad0038ed71eb031'), ObjectId('662f495f6ad0038ed71eb032'), ObjectId('662f495f6ad0038ed71eb033'), ObjectId('662f495f6ad0038ed71eb034'), ObjectId('662f495f6ad0038ed71eb035'), ObjectId('662f495f6ad0038ed71eb036'), ObjectId('662f495f6ad0038ed71eb037'), ObjectId('662f495f6ad0038ed71eb038'), ObjectId('662f495f6ad0038ed71eb039'), ObjectId('662f495f6ad0038ed71eb03a'), ObjectId('662f495f6ad0038ed71eb03b'), ObjectId('662f495f6ad0038ed71eb03c'), ObjectId('662f495f6ad0038ed71eb03d'), ObjectId('662f495f6ad0038ed71eb03e'), ObjectId('662f495f6ad0038ed71eb03f'), ObjectId('662f495f6ad0038ed71eb040'), ObjectId('662f495f6ad0038ed71eb041'), ObjectId('662f495f6ad0038ed71eb042'), ObjectId('662f495f6ad0038ed71eb043'), ObjectId('662f495f6ad0038ed71eb044'), ObjectId('662f495f6ad0038ed71eb045'), ObjectId('662f495f6ad0038ed71eb046'), ObjectId('662f495f6ad0038ed71eb047'), ObjectId('662f495f6ad0038ed71eb048'), ObjectId('662f495f6ad0038ed71eb049'), ObjectId('662f495f6ad0038ed71eb04a'), ObjectId('662f495f6ad0038ed71eb04b'), ObjectId('662f495f6ad0038ed71eb04c'), ObjectId('662f495f6ad0038ed71eb04d'), ObjectId('662f495f6ad0038ed71eb04e'), ObjectId('662f495f6ad0038ed71eb04f'), ObjectId('662f495f6ad0038ed71eb050'), ObjectId('662f495f6ad0038ed71eb051'), ObjectId('662f495f6ad0038ed71eb052'), ObjectId('662f495f6ad0038ed71eb053'), ObjectId('662f495f6ad0038ed71eb054'), ObjectId('662f495f6ad0038ed71eb055'), ObjectId('662f495f6ad0038ed71eb056'), ObjectId('662f495f6ad0038ed71eb057'), ObjectId('662f495f6ad0038ed71eb058'), ObjectId('662f495f6ad0038ed71eb059'), ObjectId('662f495f6ad0038ed71eb05a'), ObjectId('662f495f6ad0038ed71eb05b'), ObjectId('662f495f6ad0038ed71eb05c'), ObjectId('662f495f6ad0038ed71eb05d'), ObjectId('662f495f6ad0038ed71eb05e'), ObjectId('662f495f6ad0038ed71eb05f'), ObjectId('662f495f6ad0038ed71eb060'), ObjectId('662f495f6ad0038ed71eb061'), ObjectId('662f495f6ad0038ed71eb062'), ObjectId('662f495f6ad0038ed71eb063'), ObjectId('662f495f6ad0038ed71eb064'), ObjectId('662f495f6ad0038ed71eb065'), ObjectId('662f495f6ad0038ed71eb066'), ObjectId('662f495f6ad0038ed71eb067'), ObjectId('662f495f6ad0038ed71eb068'), ObjectId('662f495f6ad0038ed71eb069'), ObjectId('662f495f6ad0038ed71eb06a'), ObjectId('662f495f6ad0038ed71eb06b'), ObjectId('662f495f6ad0038ed71eb06c'), ObjectId('662f495f6ad0038ed71eb06d'), ObjectId('662f495f6ad0038ed71eb06e'), ObjectId('662f495f6ad0038ed71eb06f'), ObjectId('662f495f6ad0038ed71eb070'), ObjectId('662f495f6ad0038ed71eb071'), ObjectId('662f495f6ad0038ed71eb072'), ObjectId('662f495f6ad0038ed71eb073'), ObjectId('662f495f6ad0038ed71eb074'), ObjectId('662f495f6ad0038ed71eb075'), ObjectId('662f495f6ad0038ed71eb076'), ObjectId('662f495f6ad0038ed71eb077'), ObjectId('662f495f6ad0038ed71eb078'), ObjectId('662f495f6ad0038ed71eb079'), ObjectId('662f495f6ad0038ed71eb07a'), ObjectId('662f495f6ad0038ed71eb07b'), ObjectId('662f495f6ad0038ed71eb07c'), ObjectId('662f495f6ad0038ed71eb07d'), ObjectId('662f495f6ad0038ed71eb07e'), ObjectId('662f495f6ad0038ed71eb07f'), ObjectId('662f495f6ad0038ed71eb080'), ObjectId('662f495f6ad0038ed71eb081'), ObjectId('662f495f6ad0038ed71eb082'), ObjectId('662f495f6ad0038ed71eb083'), ObjectId('662f495f6ad0038ed71eb084'), ObjectId('662f495f6ad0038ed71eb085'), ObjectId('662f495f6ad0038ed71eb086'), ObjectId('662f495f6ad0038ed71eb087'), ObjectId('662f495f6ad0038ed71eb088'), ObjectId('662f495f6ad0038ed71eb089'), ObjectId('662f495f6ad0038ed71eb08a'), ObjectId('662f495f6ad0038ed71eb08b'), ObjectId('662f495f6ad0038ed71eb08c'), ObjectId('662f495f6ad0038ed71eb08d'), ObjectId('662f495f6ad0038ed71eb08e'), ObjectId('662f495f6ad0038ed71eb08f'), ObjectId('662f495f6ad0038ed71eb090'), ObjectId('662f495f6ad0038ed71eb091'), ObjectId('662f495f6ad0038ed71eb092'), ObjectId('662f495f6ad0038ed71eb093'), ObjectId('662f495f6ad0038ed71eb094'), ObjectId('662f495f6ad0038ed71eb095'), ObjectId('662f495f6ad0038ed71eb096'), ObjectId('662f495f6ad0038ed71eb097'), ObjectId('662f495f6ad0038ed71eb098'), ObjectId('662f495f6ad0038ed71eb099'), ObjectId('662f495f6ad0038ed71eb09a'), ObjectId('662f495f6ad0038ed71eb09b'), ObjectId('662f495f6ad0038ed71eb09c'), ObjectId('662f495f6ad0038ed71eb09d'), ObjectId('662f495f6ad0038ed71eb09e'), ObjectId('662f495f6ad0038ed71eb09f'), ObjectId('662f495f6ad0038ed71eb0a0'), ObjectId('662f495f6ad0038ed71eb0a1'), ObjectId('662f495f6ad0038ed71eb0a2'), ObjectId('662f495f6ad0038ed71eb0a3'), ObjectId('662f495f6ad0038ed71eb0a4'), ObjectId('662f495f6ad0038ed71eb0a5'), ObjectId('662f495f6ad0038ed71eb0a6'), ObjectId('662f495f6ad0038ed71eb0a7'), ObjectId('662f495f6ad0038ed71eb0a8'), ObjectId('662f495f6ad0038ed71eb0a9'), ObjectId('662f495f6ad0038ed71eb0aa'), ObjectId('662f495f6ad0038ed71eb0ab'), ObjectId('662f495f6ad0038ed71eb0ac'), ObjectId('662f495f6ad0038ed71eb0ad'), ObjectId('662f495f6ad0038ed71eb0ae'), ObjectId('662f495f6ad0038ed71eb0af'), ObjectId('662f495f6ad0038ed71eb0b0'), ObjectId('662f495f6ad0038ed71eb0b1'), ObjectId('662f495f6ad0038ed71eb0b2'), ObjectId('662f495f6ad0038ed71eb0b3'), ObjectId('662f495f6ad0038ed71eb0b4'), ObjectId('662f495f6ad0038ed71eb0b5'), ObjectId('662f495f6ad0038ed71eb0b6'), ObjectId('662f495f6ad0038ed71eb0b7'), ObjectId('662f495f6ad0038ed71eb0b8'), ObjectId('662f495f6ad0038ed71eb0b9'), ObjectId('662f495f6ad0038ed71eb0ba'), ObjectId('662f495f6ad0038ed71eb0bb'), ObjectId('662f495f6ad0038ed71eb0bc'), ObjectId('662f495f6ad0038ed71eb0bd'), ObjectId('662f495f6ad0038ed71eb0be'), ObjectId('662f495f6ad0038ed71eb0bf'), ObjectId('662f495f6ad0038ed71eb0c0'), ObjectId('662f495f6ad0038ed71eb0c1'), ObjectId('662f495f6ad0038ed71eb0c2'), ObjectId('662f495f6ad0038ed71eb0c3'), ObjectId('662f495f6ad0038ed71eb0c4'), ObjectId('662f495f6ad0038ed71eb0c5'), ObjectId('662f495f6ad0038ed71eb0c6'), ObjectId('662f495f6ad0038ed71eb0c7'), ObjectId('662f495f6ad0038ed71eb0c8'), ObjectId('662f495f6ad0038ed71eb0c9'), ObjectId('662f495f6ad0038ed71eb0ca'), ObjectId('662f495f6ad0038ed71eb0cb'), ObjectId('662f495f6ad0038ed71eb0cc'), ObjectId('662f495f6ad0038ed71eb0cd'), ObjectId('662f495f6ad0038ed71eb0ce'), ObjectId('662f495f6ad0038ed71eb0cf'), ObjectId('662f495f6ad0038ed71eb0d0'), ObjectId('662f495f6ad0038ed71eb0d1'), ObjectId('662f495f6ad0038ed71eb0d2'), ObjectId('662f495f6ad0038ed71eb0d3'), ObjectId('662f495f6ad0038ed71eb0d4'), ObjectId('662f495f6ad0038ed71eb0d5'), ObjectId('662f495f6ad0038ed71eb0d6'), ObjectId('662f495f6ad0038ed71eb0d7'), ObjectId('662f495f6ad0038ed71eb0d8'), ObjectId('662f495f6ad0038ed71eb0d9'), ObjectId('662f495f6ad0038ed71eb0da'), ObjectId('662f495f6ad0038ed71eb0db'), ObjectId('662f495f6ad0038ed71eb0dc'), ObjectId('662f495f6ad0038ed71eb0dd'), ObjectId('662f495f6ad0038ed71eb0de'), ObjectId('662f495f6ad0038ed71eb0df'), ObjectId('662f495f6ad0038ed71eb0e0'), ObjectId('662f495f6ad0038ed71eb0e1'), ObjectId('662f495f6ad0038ed71eb0e2'), ObjectId('662f495f6ad0038ed71eb0e3'), ObjectId('662f495f6ad0038ed71eb0e4'), ObjectId('662f495f6ad0038ed71eb0e5'), ObjectId('662f495f6ad0038ed71eb0e6'), ObjectId('662f495f6ad0038ed71eb0e7'), ObjectId('662f495f6ad0038ed71eb0e8'), ObjectId('662f495f6ad0038ed71eb0e9'), ObjectId('662f495f6ad0038ed71eb0ea'), ObjectId('662f495f6ad0038ed71eb0eb'), ObjectId('662f495f6ad0038ed71eb0ec'), ObjectId('662f495f6ad0038ed71eb0ed'), ObjectId('662f495f6ad0038ed71eb0ee'), ObjectId('662f495f6ad0038ed71eb0ef'), ObjectId('662f495f6ad0038ed71eb0f0'), ObjectId('662f495f6ad0038ed71eb0f1'), ObjectId('662f495f6ad0038ed71eb0f2'), ObjectId('662f495f6ad0038ed71eb0f3'), ObjectId('662f495f6ad0038ed71eb0f4'), ObjectId('662f495f6ad0038ed71eb0f5'), ObjectId('662f495f6ad0038ed71eb0f6'), ObjectId('662f495f6ad0038ed71eb0f7'), ObjectId('662f495f6ad0038ed71eb0f8'), ObjectId('662f495f6ad0038ed71eb0f9'), ObjectId('662f495f6ad0038ed71eb0fa'), ObjectId('662f495f6ad0038ed71eb0fb'), ObjectId('662f495f6ad0038ed71eb0fc'), ObjectId('662f495f6ad0038ed71eb0fd'), ObjectId('662f495f6ad0038ed71eb0fe'), ObjectId('662f495f6ad0038ed71eb0ff'), ObjectId('662f495f6ad0038ed71eb100'), ObjectId('662f495f6ad0038ed71eb101'), ObjectId('662f495f6ad0038ed71eb102'), ObjectId('662f495f6ad0038ed71eb103'), ObjectId('662f495f6ad0038ed71eb104'), ObjectId('662f495f6ad0038ed71eb105'), ObjectId('662f495f6ad0038ed71eb106'), ObjectId('662f495f6ad0038ed71eb107'), ObjectId('662f495f6ad0038ed71eb108'), ObjectId('662f495f6ad0038ed71eb109'), ObjectId('662f495f6ad0038ed71eb10a'), ObjectId('662f495f6ad0038ed71eb10b'), ObjectId('662f495f6ad0038ed71eb10c'), ObjectId('662f495f6ad0038ed71eb10d'), ObjectId('662f495f6ad0038ed71eb10e'), ObjectId('662f495f6ad0038ed71eb10f'), ObjectId('662f495f6ad0038ed71eb110'), ObjectId('662f495f6ad0038ed71eb111'), ObjectId('662f495f6ad0038ed71eb112'), ObjectId('662f495f6ad0038ed71eb113'), ObjectId('662f495f6ad0038ed71eb114'), ObjectId('662f495f6ad0038ed71eb115'), ObjectId('662f495f6ad0038ed71eb116'), ObjectId('662f495f6ad0038ed71eb117'), ObjectId('662f495f6ad0038ed71eb118'), ObjectId('662f495f6ad0038ed71eb119'), ObjectId('662f495f6ad0038ed71eb11a'), ObjectId('662f495f6ad0038ed71eb11b'), ObjectId('662f495f6ad0038ed71eb11c'), ObjectId('662f495f6ad0038ed71eb11d'), ObjectId('662f495f6ad0038ed71eb11e'), ObjectId('662f495f6ad0038ed71eb11f'), ObjectId('662f495f6ad0038ed71eb120'), ObjectId('662f495f6ad0038ed71eb121'), ObjectId('662f495f6ad0038ed71eb122'), ObjectId('662f495f6ad0038ed71eb123'), ObjectId('662f495f6ad0038ed71eb124'), ObjectId('662f495f6ad0038ed71eb125'), ObjectId('662f495f6ad0038ed71eb126'), ObjectId('662f495f6ad0038ed71eb127'), ObjectId('662f495f6ad0038ed71eb128'), ObjectId('662f495f6ad0038ed71eb129'), ObjectId('662f495f6ad0038ed71eb12a'), ObjectId('662f495f6ad0038ed71eb12b'), ObjectId('662f495f6ad0038ed71eb12c'), ObjectId('662f495f6ad0038ed71eb12d'), ObjectId('662f495f6ad0038ed71eb12e'), ObjectId('662f495f6ad0038ed71eb12f'), ObjectId('662f495f6ad0038ed71eb130'), ObjectId('662f495f6ad0038ed71eb131'), ObjectId('662f495f6ad0038ed71eb132'), ObjectId('662f495f6ad0038ed71eb133'), ObjectId('662f495f6ad0038ed71eb134'), ObjectId('662f495f6ad0038ed71eb135'), ObjectId('662f495f6ad0038ed71eb136'), ObjectId('662f495f6ad0038ed71eb137'), ObjectId('662f495f6ad0038ed71eb138'), ObjectId('662f495f6ad0038ed71eb139'), ObjectId('662f495f6ad0038ed71eb13a'), ObjectId('662f495f6ad0038ed71eb13b'), ObjectId('662f495f6ad0038ed71eb13c'), ObjectId('662f495f6ad0038ed71eb13d'), ObjectId('662f495f6ad0038ed71eb13e'), ObjectId('662f495f6ad0038ed71eb13f'), ObjectId('662f495f6ad0038ed71eb140'), ObjectId('662f495f6ad0038ed71eb141'), ObjectId('662f495f6ad0038ed71eb142'), ObjectId('662f495f6ad0038ed71eb143'), ObjectId('662f495f6ad0038ed71eb144'), ObjectId('662f495f6ad0038ed71eb145'), ObjectId('662f495f6ad0038ed71eb146'), ObjectId('662f495f6ad0038ed71eb147'), ObjectId('662f495f6ad0038ed71eb148'), ObjectId('662f495f6ad0038ed71eb149'), ObjectId('662f495f6ad0038ed71eb14a'), ObjectId('662f495f6ad0038ed71eb14b'), ObjectId('662f495f6ad0038ed71eb14c'), ObjectId('662f495f6ad0038ed71eb14d'), ObjectId('662f495f6ad0038ed71eb14e'), ObjectId('662f495f6ad0038ed71eb14f'), ObjectId('662f495f6ad0038ed71eb150'), ObjectId('662f495f6ad0038ed71eb151'), ObjectId('662f495f6ad0038ed71eb152'), ObjectId('662f495f6ad0038ed71eb153'), ObjectId('662f495f6ad0038ed71eb154'), ObjectId('662f495f6ad0038ed71eb155'), ObjectId('662f495f6ad0038ed71eb156'), ObjectId('662f495f6ad0038ed71eb157'), ObjectId('662f495f6ad0038ed71eb158'), ObjectId('662f495f6ad0038ed71eb159'), ObjectId('662f495f6ad0038ed71eb15a'), ObjectId('662f495f6ad0038ed71eb15b'), ObjectId('662f495f6ad0038ed71eb15c'), ObjectId('662f495f6ad0038ed71eb15d'), ObjectId('662f495f6ad0038ed71eb15e'), ObjectId('662f495f6ad0038ed71eb15f'), ObjectId('662f495f6ad0038ed71eb160'), ObjectId('662f495f6ad0038ed71eb161'), ObjectId('662f495f6ad0038ed71eb162'), ObjectId('662f495f6ad0038ed71eb163'), ObjectId('662f495f6ad0038ed71eb164'), ObjectId('662f495f6ad0038ed71eb165'), ObjectId('662f495f6ad0038ed71eb166'), ObjectId('662f495f6ad0038ed71eb167'), ObjectId('662f495f6ad0038ed71eb168'), ObjectId('662f495f6ad0038ed71eb169'), ObjectId('662f495f6ad0038ed71eb16a'), ObjectId('662f495f6ad0038ed71eb16b'), ObjectId('662f495f6ad0038ed71eb16c'), ObjectId('662f495f6ad0038ed71eb16d'), ObjectId('662f495f6ad0038ed71eb16e'), ObjectId('662f495f6ad0038ed71eb16f'), ObjectId('662f495f6ad0038ed71eb170'), ObjectId('662f495f6ad0038ed71eb171'), ObjectId('662f495f6ad0038ed71eb172'), ObjectId('662f495f6ad0038ed71eb173'), ObjectId('662f495f6ad0038ed71eb174'), ObjectId('662f495f6ad0038ed71eb175'), ObjectId('662f495f6ad0038ed71eb176'), ObjectId('662f495f6ad0038ed71eb177'), ObjectId('662f495f6ad0038ed71eb178'), ObjectId('662f495f6ad0038ed71eb179'), ObjectId('662f495f6ad0038ed71eb17a'), ObjectId('662f495f6ad0038ed71eb17b'), ObjectId('662f495f6ad0038ed71eb17c'), ObjectId('662f495f6ad0038ed71eb17d'), ObjectId('662f495f6ad0038ed71eb17e'), ObjectId('662f495f6ad0038ed71eb17f'), ObjectId('662f495f6ad0038ed71eb180'), ObjectId('662f495f6ad0038ed71eb181'), ObjectId('662f495f6ad0038ed71eb182'), ObjectId('662f495f6ad0038ed71eb183'), ObjectId('662f495f6ad0038ed71eb184'), ObjectId('662f495f6ad0038ed71eb185'), ObjectId('662f495f6ad0038ed71eb186'), ObjectId('662f495f6ad0038ed71eb187'), ObjectId('662f495f6ad0038ed71eb188'), ObjectId('662f495f6ad0038ed71eb189'), ObjectId('662f495f6ad0038ed71eb18a'), ObjectId('662f495f6ad0038ed71eb18b'), ObjectId('662f495f6ad0038ed71eb18c'), ObjectId('662f495f6ad0038ed71eb18d'), ObjectId('662f495f6ad0038ed71eb18e'), ObjectId('662f495f6ad0038ed71eb18f'), ObjectId('662f495f6ad0038ed71eb190'), ObjectId('662f495f6ad0038ed71eb191'), ObjectId('662f495f6ad0038ed71eb192'), ObjectId('662f495f6ad0038ed71eb193'), ObjectId('662f495f6ad0038ed71eb194'), ObjectId('662f495f6ad0038ed71eb195'), ObjectId('662f495f6ad0038ed71eb196'), ObjectId('662f495f6ad0038ed71eb197'), ObjectId('662f495f6ad0038ed71eb198'), ObjectId('662f495f6ad0038ed71eb199'), ObjectId('662f495f6ad0038ed71eb19a'), ObjectId('662f495f6ad0038ed71eb19b'), ObjectId('662f495f6ad0038ed71eb19c'), ObjectId('662f495f6ad0038ed71eb19d'), ObjectId('662f495f6ad0038ed71eb19e'), ObjectId('662f495f6ad0038ed71eb19f'), ObjectId('662f495f6ad0038ed71eb1a0'), ObjectId('662f495f6ad0038ed71eb1a1'), ObjectId('662f495f6ad0038ed71eb1a2'), ObjectId('662f495f6ad0038ed71eb1a3'), ObjectId('662f495f6ad0038ed71eb1a4'), ObjectId('662f495f6ad0038ed71eb1a5'), ObjectId('662f495f6ad0038ed71eb1a6'), ObjectId('662f495f6ad0038ed71eb1a7'), ObjectId('662f495f6ad0038ed71eb1a8'), ObjectId('662f495f6ad0038ed71eb1a9'), ObjectId('662f495f6ad0038ed71eb1aa'), ObjectId('662f495f6ad0038ed71eb1ab'), ObjectId('662f495f6ad0038ed71eb1ac'), ObjectId('662f495f6ad0038ed71eb1ad'), ObjectId('662f495f6ad0038ed71eb1ae'), ObjectId('662f495f6ad0038ed71eb1af'), ObjectId('662f495f6ad0038ed71eb1b0'), ObjectId('662f495f6ad0038ed71eb1b1'), ObjectId('662f495f6ad0038ed71eb1b2'), ObjectId('662f495f6ad0038ed71eb1b3'), ObjectId('662f495f6ad0038ed71eb1b4'), ObjectId('662f495f6ad0038ed71eb1b5'), ObjectId('662f495f6ad0038ed71eb1b6'), ObjectId('662f495f6ad0038ed71eb1b7'), ObjectId('662f495f6ad0038ed71eb1b8'), ObjectId('662f495f6ad0038ed71eb1b9'), ObjectId('662f495f6ad0038ed71eb1ba'), ObjectId('662f495f6ad0038ed71eb1bb'), ObjectId('662f495f6ad0038ed71eb1bc'), ObjectId('662f495f6ad0038ed71eb1bd'), ObjectId('662f495f6ad0038ed71eb1be'), ObjectId('662f495f6ad0038ed71eb1bf'), ObjectId('662f495f6ad0038ed71eb1c0'), ObjectId('662f495f6ad0038ed71eb1c1'), ObjectId('662f495f6ad0038ed71eb1c2'), ObjectId('662f495f6ad0038ed71eb1c3'), ObjectId('662f495f6ad0038ed71eb1c4'), ObjectId('662f495f6ad0038ed71eb1c5'), ObjectId('662f495f6ad0038ed71eb1c6'), ObjectId('662f495f6ad0038ed71eb1c7'), ObjectId('662f495f6ad0038ed71eb1c8'), ObjectId('662f495f6ad0038ed71eb1c9'), ObjectId('662f495f6ad0038ed71eb1ca'), ObjectId('662f495f6ad0038ed71eb1cb'), ObjectId('662f495f6ad0038ed71eb1cc'), ObjectId('662f495f6ad0038ed71eb1cd'), ObjectId('662f495f6ad0038ed71eb1ce'), ObjectId('662f495f6ad0038ed71eb1cf'), ObjectId('662f495f6ad0038ed71eb1d0'), ObjectId('662f495f6ad0038ed71eb1d1'), ObjectId('662f495f6ad0038ed71eb1d2'), ObjectId('662f495f6ad0038ed71eb1d3'), ObjectId('662f495f6ad0038ed71eb1d4'), ObjectId('662f495f6ad0038ed71eb1d5'), ObjectId('662f495f6ad0038ed71eb1d6'), ObjectId('662f495f6ad0038ed71eb1d7'), ObjectId('662f495f6ad0038ed71eb1d8'), ObjectId('662f495f6ad0038ed71eb1d9'), ObjectId('662f495f6ad0038ed71eb1da'), ObjectId('662f495f6ad0038ed71eb1db'), ObjectId('662f495f6ad0038ed71eb1dc'), ObjectId('662f495f6ad0038ed71eb1dd'), ObjectId('662f495f6ad0038ed71eb1de'), ObjectId('662f495f6ad0038ed71eb1df'), ObjectId('662f495f6ad0038ed71eb1e0'), ObjectId('662f495f6ad0038ed71eb1e1'), ObjectId('662f495f6ad0038ed71eb1e2'), ObjectId('662f495f6ad0038ed71eb1e3'), ObjectId('662f495f6ad0038ed71eb1e4'), ObjectId('662f495f6ad0038ed71eb1e5'), ObjectId('662f495f6ad0038ed71eb1e6'), ObjectId('662f495f6ad0038ed71eb1e7'), ObjectId('662f495f6ad0038ed71eb1e8'), ObjectId('662f495f6ad0038ed71eb1e9'), ObjectId('662f495f6ad0038ed71eb1ea'), ObjectId('662f495f6ad0038ed71eb1eb'), ObjectId('662f495f6ad0038ed71eb1ec'), ObjectId('662f495f6ad0038ed71eb1ed'), ObjectId('662f495f6ad0038ed71eb1ee'), ObjectId('662f495f6ad0038ed71eb1ef'), ObjectId('662f495f6ad0038ed71eb1f0'), ObjectId('662f495f6ad0038ed71eb1f1'), ObjectId('662f495f6ad0038ed71eb1f2'), ObjectId('662f495f6ad0038ed71eb1f3'), ObjectId('662f495f6ad0038ed71eb1f4'), ObjectId('662f495f6ad0038ed71eb1f5'), ObjectId('662f495f6ad0038ed71eb1f6'), ObjectId('662f495f6ad0038ed71eb1f7'), ObjectId('662f495f6ad0038ed71eb1f8'), ObjectId('662f495f6ad0038ed71eb1f9'), ObjectId('662f495f6ad0038ed71eb1fa'), ObjectId('662f495f6ad0038ed71eb1fb'), ObjectId('662f495f6ad0038ed71eb1fc'), ObjectId('662f495f6ad0038ed71eb1fd'), ObjectId('662f495f6ad0038ed71eb1fe'), ObjectId('662f495f6ad0038ed71eb1ff'), ObjectId('662f495f6ad0038ed71eb200'), ObjectId('662f495f6ad0038ed71eb201'), ObjectId('662f495f6ad0038ed71eb202'), ObjectId('662f495f6ad0038ed71eb203'), ObjectId('662f495f6ad0038ed71eb204'), ObjectId('662f495f6ad0038ed71eb205'), ObjectId('662f495f6ad0038ed71eb206'), ObjectId('662f495f6ad0038ed71eb207'), ObjectId('662f495f6ad0038ed71eb208'), ObjectId('662f495f6ad0038ed71eb209'), ObjectId('662f495f6ad0038ed71eb20a'), ObjectId('662f495f6ad0038ed71eb20b'), ObjectId('662f495f6ad0038ed71eb20c'), ObjectId('662f495f6ad0038ed71eb20d'), ObjectId('662f495f6ad0038ed71eb20e'), ObjectId('662f495f6ad0038ed71eb20f'), ObjectId('662f495f6ad0038ed71eb210'), ObjectId('662f495f6ad0038ed71eb211'), ObjectId('662f495f6ad0038ed71eb212'), ObjectId('662f495f6ad0038ed71eb213'), ObjectId('662f495f6ad0038ed71eb214'), ObjectId('662f495f6ad0038ed71eb215'), ObjectId('662f495f6ad0038ed71eb216'), ObjectId('662f495f6ad0038ed71eb217'), ObjectId('662f495f6ad0038ed71eb218'), ObjectId('662f495f6ad0038ed71eb219'), ObjectId('662f495f6ad0038ed71eb21a'), ObjectId('662f495f6ad0038ed71eb2